--select * from [Language]
--select * from [LanguageY]
--select * from SystemLanguage


declare @SystemLanguageId int
select @SystemLanguageId = Id
--select *
from SystemLanguage where [Name] = N'简体中文'


declare @TblY as Table
(
	[LanguageId] [int] NOT NULL,
	[SystemLanguageId] [int] NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
	[SortCode] [nvarchar](256) NULL
)

delete @TblY

insert into @TblY
(LanguageId, SystemLanguageId, [Name], [SortCode])
select a.LanguageId, @SystemLanguageId, a.[Name], [SortCode]
from (
	select a.*
	from (
	select a.Id as LanguageId,
		case when [EnglishName] = 'English' then N'英语'
		when [EnglishName] = 'Chinese' then N'中文 (普通话)'
		when [EnglishName] = 'Chinese Mandarin' then N'中文 (普通话)'
		when [EnglishName] = 'Chinese Cantonese' then N'中文 (粤语)'
		when [EnglishName] = 'Spanish' then N'西班牙语'
		when [EnglishName] = 'French' then N'法语'
		when [EnglishName] = 'German' then N'德语'
		when [EnglishName] = 'Portuguese' then N'葡萄牙语'
		when [EnglishName] = 'Italian' then N'意大利语'
		when [EnglishName] = 'Russian' then N'俄语'
		when [EnglishName] = 'Japanese' then N'日语'
		when [EnglishName] = 'Korean' then N'韩语'
		when [EnglishName] = 'Vietnamese' then N'越南语'
		when [EnglishName] = 'Hindi' then N'印地语'
		when [EnglishName] = 'Polish' then N'波兰语'
		when [EnglishName] = 'Arabic' then N'阿拉伯语'
		when [EnglishName] = 'Bulgarian' then N'保加利亚语'
		when [EnglishName] = 'Danish' then N'丹麦语'
		when [EnglishName] = 'Finnish' then N'芬兰语'
		when [EnglishName] = 'Dutch' then N'荷兰语'
		when [EnglishName] = 'Hebrew' then N'希伯来语'
		when [EnglishName] = 'Turkish' then N'土耳其语'
		when [EnglishName] = 'Indonesian' then N'印尼语'
		when [EnglishName] = 'Indonesian Javanese' then N'印尼爪哇语'
		when [EnglishName] = 'Ukrainian' then N'乌克兰语'
		when [EnglishName] = 'South Africa Zulu' then N'南非祖鲁语'
		when [EnglishName] = 'Thai' then N'泰语'
		when [EnglishName] = 'Czech' then N'捷克语'
		when [EnglishName] = 'Malay' then N'马来语'
		when [EnglishName] = 'Romanian' then N'罗马尼亚语'
		when [EnglishName] = 'Icelandic' then N'冰岛语'
		when [EnglishName] = 'Bosnian' then N'波斯尼亚语'
		when [EnglishName] = 'Filipino' then N'菲律宾语'
		when [EnglishName] = 'Norwegian' then N'挪威语'
		when [EnglishName] = 'Latin' then N'拉丁语'
		when [EnglishName] = 'Slovak' then N'斯洛伐克语'
		when [EnglishName] = 'Serbian' then N'塞尔维亚语'
		when [EnglishName] = 'Croatian' then N'克罗地亚语'
		when [EnglishName] = 'Latvian' then N'拉脱维亚语'
		when [EnglishName] = 'Lithuanian' then N'立陶宛语'
		when [EnglishName] = 'Maltese' then N'马耳他语'
		when [EnglishName] = 'Macedonian' then N'马其顿语'
		when [EnglishName] = 'Mongolian' then N'蒙古语'
		when [EnglishName] = 'Uzbek' then N'乌兹别克语'
		when [EnglishName] = 'Armenian' then N'亚美尼亚语'
		when [EnglishName] = 'Slovenian' then N'斯洛文尼亚语'
		when [EnglishName] = 'Swedish' then N'瑞典语'
		when [EnglishName] = 'Burmese' then N'缅甸语'
		when [EnglishName] = 'Bengali' then N'孟加拉语'
		when [EnglishName] = 'Lao' then N'老挝语'
		when [EnglishName] = 'Persian' then N'波斯语'
		when [EnglishName] = 'Greek' then N'希腊语'
		when [EnglishName] = 'Amharic' then N'阿姆哈拉语'
		when [EnglishName] = 'Cambodian' then N'柬埔寨语'
		when [EnglishName] = 'Haitian Creole' then N'海地克里奥尔语'
		when [EnglishName] = 'Swahili' then N'斯瓦希里语'
		when [EnglishName] = 'Kinyarwanda' then N'卢旺达语'


		when [EnglishName] = 'Nepali' then N'尼泊尔语'
		when [EnglishName] = 'Somali' then N'索马里语'
		when [EnglishName] = 'Tongan' then N'汤加语'
		when [EnglishName] = 'American Sign Language' then N'美国手语'
		when [EnglishName] = 'Hungarian' then N'匈牙利语'
		when [EnglishName] = 'Albanian' then N'阿尔巴尼亚语'
		when [EnglishName] = 'Tagalog' then N'菲律宾语'
		when [EnglishName] = 'Urdu' then N'乌尔都语'
		when [EnglishName] = 'Acehnese' then N'亚齐语'
		when [EnglishName] = 'Acholi' then N'阿乔利语'
		when [EnglishName] = 'Afghani' then N'阿富汗语'
		when [EnglishName] = 'Afrikaans' then N'南非荷兰语'
		when [EnglishName] = 'Akan' then N'阿寒湖语'
		when [EnglishName] = 'Akateco' then N'Akateco语'
		when [EnglishName] = 'Anuak' then N'阿努阿克语'
		when [EnglishName] = 'Arabic (Egyptian)' then N'阿拉伯语（埃及）'
		when [EnglishName] = 'Arabic (Iraqi)' then N'阿拉伯语（伊拉克）'
		when [EnglishName] = 'Arabic (Moroccan)' then N'阿拉伯语（摩洛哥）'
		when [EnglishName] = 'Arabic (Sudanese)' then N'阿拉伯语（苏丹）'
		when [EnglishName] = 'Arabic (Yemeni)' then N'阿拉伯语（也门）'
		when [EnglishName] = 'Ashanti' then N'阿散蒂语'
		when [EnglishName] = 'Assyrian' then N'亚述语'
		when [EnglishName] = 'Azeri' then N'里人语'
		when [EnglishName] = 'Bahasa (Malaysian)' then N'印尼语（马来西亚）'
		when [EnglishName] = 'Bambara' then N'班巴拉语'
		when [EnglishName] = 'Bashkir' then N'巴什基尔语'
		when [EnglishName] = 'Basque' then N'巴斯克语'
		when [EnglishName] = 'Bassa' then N'巴萨语'
		when [EnglishName] = 'Belarusian' then N'白俄罗斯语'
		when [EnglishName] = 'Cape Verde Creole' then N'佛得角克里奥尔语'
		when [EnglishName] = 'Carolinian' then N'卡罗莱纳语'
		when [EnglishName] = 'Catalan' then N'加泰罗尼亚语'
		when [EnglishName] = 'Cebuano' then N'宿务语'
		when [EnglishName] = 'Chaldean' then N'加尔丁语'
		when [EnglishName] = 'Chamorro' then N'查莫洛语'
		when [EnglishName] = 'Chao-Chow' then N'朝周语'
		when [EnglishName] = 'Cherokee' then N'切诺基语'
		when [EnglishName] = 'Chin' then N'钦语'
		when [EnglishName] = 'Chin (Falam)' then N'钦语（发拉姆）'
		when [EnglishName] = 'Chin (Hakha)' then N'钦语（哈卡）'
		when [EnglishName] = 'Chin (Lai)' then N'钦语（莱）'
		when [EnglishName] = 'Chin (Mizo)' then N'钦语（米佐厄恩）'
		when [EnglishName] = 'Chin (Tedim)' then N'钦语（特地）'
		when [EnglishName] = 'Chin (Zo, Zomi)' then N'钦语（佐，佐密）'
		when [EnglishName] = 'Chin (Zophei)' then N'钦语（佐菲）'
		when [EnglishName] = 'Choujo' then N'Choujo语'
		when [EnglishName] = 'Chuukese' then N'丘克语'
		when [EnglishName] = 'Cotocoli (Tem)' then N'Cotocoli (Tem)语'
		when [EnglishName] = 'Dari' then N'达里语'
		when [EnglishName] = 'Dinka' then N'丁加语'
		when [EnglishName] = 'Dioula' then N'Dioula语'
		when [EnglishName] = 'Edo' then N'江户语'
		when [EnglishName] = 'Estonian' then N'爱沙尼亚语'
		when [EnglishName] = 'Ewe' then N'Ewe语'
		when [EnglishName] = 'Farsi' then N'波斯语'
		when [EnglishName] = 'Flemish' then N'佛兰芒语'
		when [EnglishName] = 'Foochow (Fuzhou)' then N'福州话'
		when [EnglishName] = 'French Canadian' then N'加拿大法语'
		when [EnglishName] = 'French Creole' then N'法国克里奥尔语'
		when [EnglishName] = 'Fukienese' then N'福建话'
		when [EnglishName] = 'Fulani' then N'富拉语'
		when [EnglishName] = 'Fulde' then N'Fulde语'
		when [EnglishName] = 'Garre' then N'加雷语'
		when [EnglishName] = 'Georgian' then N'格鲁吉亚语'
		when [EnglishName] = 'Guarani' then N'瓜拉尼语'
		when [EnglishName] = 'Gujarati' then N'古吉拉特语'
		when [EnglishName] = 'Hainanese' then N'海南话'
		when [EnglishName] = 'Hakka (Chinese)' then N'客家话'
		when [EnglishName] = 'Harar' then N'哈拉尔语'
		when [EnglishName] = 'Hassaniya' then N'Hassaniya语'
		when [EnglishName] = 'Hausa' then N'豪萨语'
		when [EnglishName] = 'Hmong' then N'苗语'
		when [EnglishName] = 'Hokkien' then N'闽南话'
		when [EnglishName] = 'Igbo' then N'伊博语'
		when [EnglishName] = 'Ilocano' then N'伊洛卡诺语'
		when [EnglishName] = 'Jarai' then N'嘉莱语'
		when [EnglishName] = 'Jiangsu' then N'江苏话'
		when [EnglishName] = 'K’iche’ (Quiché)' then N'K’iche’ (Quiché)语'
		when [EnglishName] = 'Kannada' then N'卡纳达语'
		when [EnglishName] = 'Karen' then N'凯伦语'
		when [EnglishName] = 'Karen (Pwo)' then N'凯伦语（泊）'
		when [EnglishName] = 'Karenni (Kayah)' then N'克伦尼语（克耶邦)'
		when [EnglishName] = 'Kazakh' then N'哈萨克语'
		when [EnglishName] = 'Khmer' then N'高棉语'
		when [EnglishName] = 'Kikongo' then N'刚果语（班图语）'
		when [EnglishName] = 'Kikuyu' then N'基库尤语'
		when [EnglishName] = 'Kinyamulenge' then N'Kinyamulenge语'
		when [EnglishName] = 'Kirundi' then N'基隆迪语'
		when [EnglishName] = 'Kituba' then N'吉土巴语'
		when [EnglishName] = 'Kizigua (Kizigula)' then N'Kizigua (Kizigula)语'
		when [EnglishName] = 'Kosraean' then N'Kosraean语'
		when [EnglishName] = 'Krahn' then N'克朗语'
		when [EnglishName] = 'Krio' then N'克里奥尔语'
		when [EnglishName] = 'Kunama' then N'库纳语'
		when [EnglishName] = 'Kurdish' then N'库尔德语'
		when [EnglishName] = 'Kurdish (Bahdini)' then N'库尔德语（巴蒂尼）'
		when [EnglishName] = 'Kurdish (Kurmanji)' then N'库尔德语（库尔曼及）'
		when [EnglishName] = 'Kurdish (Sorani)' then N'库尔德语（索兰尼）'
		when [EnglishName] = 'Kyrgyz' then N'吉尔吉斯斯坦语'
		when [EnglishName] = 'Lautu' then N'劳特语'
		when [EnglishName] = 'Lingala' then N'林加拉语'
		when [EnglishName] = 'Lorma' then N'Lorma语'
		when [EnglishName] = 'Luganda' then N'卢甘达语'
		when [EnglishName] = 'Luo' then N'罗语'
		when [EnglishName] = 'Maay-Maay' then N'Maay-Maay语'
		when [EnglishName] = 'Malayalam' then N'马拉雅拉姆语'
		when [EnglishName] = 'Mam' then N'Mam语'
		when [EnglishName] = 'Mandinka' then N'曼丁卡语'
		when [EnglishName] = 'Mara' then N'玛拉语'
		when [EnglishName] = 'Marathi' then N'马拉地语'
		when [EnglishName] = 'Marshallese' then N'马歇尔语'
		when [EnglishName] = 'Matu' then N'马图语'
		when [EnglishName] = 'Mbay' then N'Mbay语'
		when [EnglishName] = 'Mende' then N'门德语（塞拉利昂）'
		when [EnglishName] = 'Mien' then N'勉语'
		when [EnglishName] = 'Mina' then N'米纳语'
		when [EnglishName] = 'Mixteco (Alto)' then N'米斯特科语（阿尔托）'
		when [EnglishName] = 'Mixteco (Bajo)' then N'米斯特科语 （巴角）'
		when [EnglishName] = 'Moldovan' then N'摩尔多瓦语'
		when [EnglishName] = 'Montenegrin' then N'黑山语'
		when [EnglishName] = 'Mushunguli' then N'Mushunguli语'
		when [EnglishName] = 'Navajo' then N'纳瓦霍语'
		when [EnglishName] = 'Nuer' then N'努尔语'
		when [EnglishName] = 'Oromifa' then N'Oromifa语'
		when [EnglishName] = 'Pashto' then N'普什图语'
		when [EnglishName] = 'Patois (Jamaican)' then N'牙买加帕塔瓦语'
		when [EnglishName] = 'Pidgin (Cameroonian)' then N'皮金语（喀麦隆）'
		when [EnglishName] = 'Pidgin (Nigerian)' then N'皮金语（尼日尼亚）'
		when [EnglishName] = 'Ponapean/Pohnpeian' then N'波纳佩语'
		when [EnglishName] = 'Portuguese (Brazilian)' then N'葡萄牙语（巴西）'
		when [EnglishName] = 'Portuguese (European)' then N'葡萄牙语（欧洲）'
		when [EnglishName] = 'Portuguese Creole' then N'克里奥尔语（葡萄牙）'
		when [EnglishName] = 'Pulaar' then N'普拉语'
		when [EnglishName] = 'Punjabi' then N'旁遮普语'
		when [EnglishName] = 'Q’anjob’al' then N'Q’anjob’al语'
		when [EnglishName] = 'Rohingya' then N'罗希亚语'
		when [EnglishName] = 'Samoan' then N'萨摩亚语'
		when [EnglishName] = 'Sango' then N'桑戈语'
		when [EnglishName] = 'Senthang' then N'Senthang语'
		when [EnglishName] = 'Shanghainese' then N'上海话'
		when [EnglishName] = 'Shona' then N'修纳语'
		when [EnglishName] = 'Sichuan' then N'四川话'
		when [EnglishName] = 'Sicilian' then N'西西里语'
		when [EnglishName] = 'Sinhalese' then N'僧伽罗语'
		when [EnglishName] = 'Siyin' then N'Siyin语'
		when [EnglishName] = 'Slovene' then N'斯洛文尼亚语'
		when [EnglishName] = 'Somali Bantu' then N'索马里班图语'
		when [EnglishName] = 'Soninke' then N'索宁克语'
		when [EnglishName] = 'Soninke (Sarahuli)' then N'索宁克语 (Sarahuli)'
		when [EnglishName] = 'Soninke (Sarakhole)' then N'索宁克语 (Sarakhole)'
		when [EnglishName] = 'Soranî (Kurdish)' then N'索拉尼语（库尔德）'
		when [EnglishName] = 'Sousou' then N'Sousou语'
		when [EnglishName] = 'Sylheti' then N'塞海蒂语'
		when [EnglishName] = 'Taiwanese' then N'台湾话'
		when [EnglishName] = 'Tajik' then N'塔吉克语'
		when [EnglishName] = 'Tamil' then N'泰米尔语'
		when [EnglishName] = 'Telugu' then N'泰卢固语'
		when [EnglishName] = 'Temne' then N'Temne语'
		when [EnglishName] = 'Teochew' then N'潮州话'
		when [EnglishName] = 'Tibetan' then N'西藏话'
		when [EnglishName] = 'Tigrinya' then N'提格里尼亚语'
		when [EnglishName] = 'Toisanese' then N'Toisanese语'
		when [EnglishName] = 'Tosk' then N'托斯克语'
		when [EnglishName] = 'Trukese/Chuukese' then N'土耳其丘克语'
		when [EnglishName] = 'Twi' then N'特维语'
		when [EnglishName] = 'Visayan' then N'米沙语'
		when [EnglishName] = 'Wolof' then N'沃洛夫语'
		when [EnglishName] = 'Xhosa' then N'科萨语'
		when [EnglishName] = 'Yiddish' then N'意第绪语'
		when [EnglishName] = 'Yoruba' then N'约鲁巴语'
		when [EnglishName] = 'Yup’ik' then N'Yup’ik语'
		when [EnglishName] = 'Azerbaijani' then N'阿塞拜疆语'
		when [EnglishName] = 'Ga' then N'嘎语'
		when [EnglishName] = 'Operator' then N'接线生'
		when [EnglishName] = 'Mexican Sign Language' then N'墨西哥手语'
		when [EnglishName] = 'Fur' then N'Fur语'
		when [EnglishName] = 'Masalit' then N'马萨里特语'

		else N''
		end as [Name],
	case when [EnglishName] = 'English' then 'ying yu'
		when [EnglishName] = 'Chinese' then N'zhong wen'
		when [EnglishName] = 'Chinese Mandarin' then N'zhong wen (pu tong hua)'
		when [EnglishName] = 'Chinese Cantonese' then N'zhong wen (yue yu)'
		when [EnglishName] = 'Spanish' then N'xi ban ya yu'
		when [EnglishName] = 'French' then N'fa yu'
		when [EnglishName] = 'German' then N'de yu'
		when [EnglishName] = 'Portuguese' then N'pu tao ya yu'
		when [EnglishName] = 'Italian' then N'yi da li yu'
		when [EnglishName] = 'Russian' then N'e yu'
		when [EnglishName] = 'Japanese' then N'ri yu'
		when [EnglishName] = 'Korean' then N'han yu'
		when [EnglishName] = 'Vietnamese' then N'yue nan yu'
		when [EnglishName] = 'Hindi' then N'yin di yu'
		when [EnglishName] = 'Polish' then N'bo lan yu'
		when [EnglishName] = 'Arabic' then N'a la bo yu'
		when [EnglishName] = 'Bulgarian' then N'bao jia li ya yu'
		when [EnglishName] = 'Danish' then N'dan mai yu'
		when [EnglishName] = 'Finnish' then N'fen lan yu'
		when [EnglishName] = 'Dutch' then N'he lan yu'
		when [EnglishName] = 'Hebrew' then N'xi bo lai yu'
		when [EnglishName] = 'Turkish' then N'tu er qi yu'
		when [EnglishName] = 'Indonesian' then N'yin ni yu'
		when [EnglishName] = 'Indonesian Javanese' then N'yin ni zhao wa yu'
		when [EnglishName] = 'Ukrainian' then N'wu ke lan yu'
		when [EnglishName] = 'South Africa Zulu' then N'nan fei zu lu yu'
		when [EnglishName] = 'Thai' then N'tai yu'
		when [EnglishName] = 'Czech' then N'jie ke yu'
		when [EnglishName] = 'Malay' then N'ma lai yu'
		when [EnglishName] = 'Romanian' then N'luo ma ni ya yu'
		when [EnglishName] = 'Icelandic' then N'bing dao yu'
		when [EnglishName] = 'Bosnian' then N'bo si ni ya yu'
		when [EnglishName] = 'Filipino' then N'fei lv bing yu'
		when [EnglishName] = 'Norwegian' then N'nuo wei yu'
		when [EnglishName] = 'Latin' then N'la ding yu'
		when [EnglishName] = 'Slovak' then N'si luo fa ke yu'
		when [EnglishName] = 'Serbian' then N'sai er wei ya yu'
		when [EnglishName] = 'Croatian' then N'ke luo di ya yu'
		when [EnglishName] = 'Latvian' then N'la tuo wei ya yu'
		when [EnglishName] = 'Lithuanian' then N'li tao wan yu'
		when [EnglishName] = 'Maltese' then N'ma er ta yu'
		when [EnglishName] = 'Macedonian' then N'ma qi dun yu'
		when [EnglishName] = 'Mongolian' then N'meng gu yu'
		when [EnglishName] = 'Uzbek' then N'wu zi bie ke yu'
		when [EnglishName] = 'Armenian' then N'ya mei ni ya yu'
		when [EnglishName] = 'Slovenian' then N'si luo wen ni ya yu'
		when [EnglishName] = 'Swedish' then N'rui dian yu'
		when [EnglishName] = 'Burmese' then N'mian dian yu'
		when [EnglishName] = 'Bengali' then N'men jia la yu'
		when [EnglishName] = 'Lao' then N'lao wo yu'
		when [EnglishName] = 'Persian' then N'bo si yu'
		when [EnglishName] = 'Greek' then N'xi na yu'
		when [EnglishName] = 'Amharic' then N'a mu ha la yu'
		when [EnglishName] = 'Cambodian' then N'jian pu zai yu'
		when [EnglishName] = 'Haitian Creole' then N'hai di ke li ao er yu'	
		when [EnglishName] = 'Swahili' then N'si wa xi li yu'
		when [EnglishName] = 'Kinyarwanda' then N'lu wang da yu'


		when [EnglishName] = 'Nepali' then N'ni po er yu'
		when [EnglishName] = 'Somali' then N'suo ma li yu'
		when [EnglishName] = 'Tongan' then N'tang jia yu'
		when [EnglishName] = 'American Sign Language' then N'mei guo shou yu'
		when [EnglishName] = 'Hungarian' then N'xiong ya li yu'
		when [EnglishName] = 'Albanian' then N'a er ba li ya yu'
		when [EnglishName] = 'Tagalog' then N'fei lv bin yu'
		when [EnglishName] = 'Urdu' then N'wu er du yu'
		when [EnglishName] = 'Acehnese' then N'ya qi yu'
		when [EnglishName] = 'Acholi' then N'a qiao li yu'
		when [EnglishName] = 'Afghani' then N'a fu han yu'
		when [EnglishName] = 'Afrikaans' then N'nan fei he lan yu'
		when [EnglishName] = 'Akan' then N'a han hu yu'
		when [EnglishName] = 'Akateco' then N'Akateco yu'
		when [EnglishName] = 'Anuak' then N'a nu a ke yu'
		when [EnglishName] = 'Arabic (Egyptian)' then N'a la bo yu (ai ji)'
		when [EnglishName] = 'Arabic (Iraqi)' then N'a la bo yu (yi la ke)'
		when [EnglishName] = 'Arabic (Moroccan)' then N'a la bo yu (mo luo ge)'
		when [EnglishName] = 'Arabic (Sudanese)' then N'a la bo yu (su dan)'
		when [EnglishName] = 'Arabic (Yemeni)' then N'a la bo yu (ye men)'
		when [EnglishName] = 'Ashanti' then N'a san di yu'
		when [EnglishName] = 'Assyrian' then N'ya shu yu'
		when [EnglishName] = 'Azeri' then N'li ren yu'
		when [EnglishName] = 'Bahasa (Malaysian)' then N'yin ni yu (ma lai xi ya)'
		when [EnglishName] = 'Bambara' then N'ban ba la yu'
		when [EnglishName] = 'Bashkir' then N'ba shi ji er yu'
		when [EnglishName] = 'Basque' then N'ba si ke yu'
		when [EnglishName] = 'Bassa' then N'ba sa yu'
		when [EnglishName] = 'Belarusian' then N'bai er luo si yu'
		when [EnglishName] = 'Cape Verde Creole' then N'fo de jiao ke li ao er yu'
		when [EnglishName] = 'Carolinian' then N'ka luo lai na yu'
		when [EnglishName] = 'Catalan' then N'jia tai luo ni ya yu'
		when [EnglishName] = 'Cebuano' then N'shu wu yu'
		when [EnglishName] = 'Chaldean' then N'jia er ding yu'
		when [EnglishName] = 'Chamorro' then N'cha mo luo yu'
		when [EnglishName] = 'Chao-Chow' then N'chao zhou yu'
		when [EnglishName] = 'Cherokee' then N'qie luo ji yu'
		when [EnglishName] = 'Chin' then N'qin yu'
		when [EnglishName] = 'Chin (Falam)' then N'qin yu (fa la mu)'
		when [EnglishName] = 'Chin (Hakha)' then N'qin yu (ha ka)'
		when [EnglishName] = 'Chin (Lai)' then N'qin yu (lai)'
		when [EnglishName] = 'Chin (Mizo)' then N'qin yu (mi zuo er en)'
		when [EnglishName] = 'Chin (Tedim)' then N'qin yu (te di)'
		when [EnglishName] = 'Chin (Zo, Zomi)' then N'qin yu (zuo, zuo mi)'
		when [EnglishName] = 'Chin (Zophei)' then N'qin yu (zuo fei)'
		when [EnglishName] = 'Choujo' then N'Choujo yu'
		when [EnglishName] = 'Chuukese' then N'qiu ke yu'
		when [EnglishName] = 'Cotocoli (Tem)' then N'Cotocoli (Tem) yu'
		when [EnglishName] = 'Dari' then N'da li yu'
		when [EnglishName] = 'Dinka' then N'ding jia yu'
		when [EnglishName] = 'Dioula' then N'Dioula yu'
		when [EnglishName] = 'Edo' then N'jiang hu yu'
		when [EnglishName] = 'Estonian' then N'ai sa ni ya yu'
		when [EnglishName] = 'Ewe' then N'Ewe yu'
		when [EnglishName] = 'Farsi' then N'bo si yu'
		when [EnglishName] = 'Flemish' then N'fo lan mang yu'
		when [EnglishName] = 'Foochow (Fuzhou)' then N'fu zhou hua'
		when [EnglishName] = 'French Canadian' then N'jia na da fa yu'
		when [EnglishName] = 'French Creole' then N'fa guo ke li ao er yu'
		when [EnglishName] = 'Fukienese' then N'fu jian hua'
		when [EnglishName] = 'Fulani' then N'fu la yu'
		when [EnglishName] = 'Fulde' then N'Fulde yu'
		when [EnglishName] = 'Garre' then N'jia lei yu'
		when [EnglishName] = 'Georgian' then N'ge lu ji ya yu'
		when [EnglishName] = 'Guarani' then N'gua la ni yu'
		when [EnglishName] = 'Gujarati' then N'gu ji la te yu'
		when [EnglishName] = 'Hainanese' then N'hai nan hua'
		when [EnglishName] = 'Hakka (Chinese)' then N'ke jia hua'
		when [EnglishName] = 'Harar' then N'ha la er yu'
		when [EnglishName] = 'Hassaniya' then N'Hassaniya yu'
		when [EnglishName] = 'Hausa' then N'hao sa yu'
		when [EnglishName] = 'Hmong' then N'miao yu'
		when [EnglishName] = 'Hokkien' then N'min nan yu'
		when [EnglishName] = 'Igbo' then N'yi bo yu'
		when [EnglishName] = 'Ilocano' then N'yi nuo ka nuo yu'
		when [EnglishName] = 'Jarai' then N'jia lai yu'
		when [EnglishName] = 'Jiangsu' then N'jiang su hua'
		when [EnglishName] = 'K’iche’ (Quiché)' then N'K’iche’ (Quiché) yu'
		when [EnglishName] = 'Kannada' then N'ka na da yu'
		when [EnglishName] = 'Karen' then N'kai lun yu'
		when [EnglishName] = 'Karen (Pwo)' then N'kai lun yu (po)'
		when [EnglishName] = 'Karenni (Kayah)' then N'ke lun ni yu (ke ye ban)'
		when [EnglishName] = 'Kazakh' then N'ha sa ke yu'
		when [EnglishName] = 'Khmer' then N'gao mian yu'
		when [EnglishName] = 'Kikongo' then N'gang guo yu (ban tu yu)'
		when [EnglishName] = 'Kikuyu' then N'ji ku you yu'
		when [EnglishName] = 'Kinyamulenge' then N'Kinyamulenge yu'
		when [EnglishName] = 'Kirundi' then N'ji long di yu'
		when [EnglishName] = 'Kituba' then N'ji tu ba yu'
		when [EnglishName] = 'Kizigua (Kizigula)' then N'Kizigua (Kizigula) yu'
		when [EnglishName] = 'Kosraean' then N'Kosraean yu'
		when [EnglishName] = 'Krahn' then N'ke lang yu'
		when [EnglishName] = 'Krio' then N'ke li ao er yu'
		when [EnglishName] = 'Kunama' then N'ku na yu'
		when [EnglishName] = 'Kurdish' then N'ku er de yu'
		when [EnglishName] = 'Kurdish (Bahdini)' then N'ku er de yu (ba di ni)'
		when [EnglishName] = 'Kurdish (Kurmanji)' then N'ku er de yu (ku er man ji)'
		when [EnglishName] = 'Kurdish (Sorani)' then N'ku er de yu (suo lan ni)'
		when [EnglishName] = 'Kyrgyz' then N'ji er ji si si tan yu'
		when [EnglishName] = 'Lautu' then N'lao te yu'
		when [EnglishName] = 'Lingala' then N'lin jia la yu'
		when [EnglishName] = 'Lorma' then N'Lorma yu'
		when [EnglishName] = 'Luganda' then N'lu gan da yu'
		when [EnglishName] = 'Luo' then N'luo yu'
		when [EnglishName] = 'Maay-Maay' then N'Maay-Maay yu'
		when [EnglishName] = 'Malayalam' then N'ma la ya la mu yu'
		when [EnglishName] = 'Mam' then N'Mam yu'
		when [EnglishName] = 'Mandinka' then N'man ding ka yu'
		when [EnglishName] = 'Mara' then N'ma la yu'
		when [EnglishName] = 'Marathi' then N'ma la di yu'
		when [EnglishName] = 'Marshallese' then N'ma xie er yu'
		when [EnglishName] = 'Matu' then N'ma tu yu'
		when [EnglishName] = 'Mbay' then N'Mbay yu'
		when [EnglishName] = 'Mende' then N'men de yu (sai la li ang)'
		when [EnglishName] = 'Mien' then N'mian yu'
		when [EnglishName] = 'Mina' then N'mi na yu'
		when [EnglishName] = 'Mixteco (Alto)' then N'mi si ke te yu (a er tuo)'
		when [EnglishName] = 'Mixteco (Bajo)' then N'mi si ke te yu (ba jiao)'
		when [EnglishName] = 'Moldovan' then N'mo er duo wan yu'
		when [EnglishName] = 'Montenegrin' then N'hei shan yu'
		when [EnglishName] = 'Mushunguli' then N'Mushunguli yu'
		when [EnglishName] = 'Navajo' then N'na wa huo yu'
		when [EnglishName] = 'Nuer' then N'nu er yu'
		when [EnglishName] = 'Oromifa' then N'Oromifa yu'
		when [EnglishName] = 'Pashto' then N'pu shi tu yu'
		when [EnglishName] = 'Patois (Jamaican)' then N'ya mai jia pa ta wa yu'
		when [EnglishName] = 'Pidgin (Cameroonian)' then N'pi jin yu (ka mai long)'
		when [EnglishName] = 'Pidgin (Nigerian)' then N'pi jin yu (ni ri ni ya)'
		when [EnglishName] = 'Ponapean/Pohnpeian' then N'bo na pei yu'
		when [EnglishName] = 'Portuguese (Brazilian)' then N'pu tao ya yu (ba xi)'
		when [EnglishName] = 'Portuguese (European)' then N'pu tao ya yu (ou zhou)'
		when [EnglishName] = 'Portuguese Creole' then N'ke li ao er yu (pu tao ya)'
		when [EnglishName] = 'Pulaar' then N'pu la yu'
		when [EnglishName] = 'Punjabi' then N'pan ze pu yu'
		when [EnglishName] = 'Q’anjob’al' then N'Q’anjob’al yu'
		when [EnglishName] = 'Rohingya' then N'luo xi ya yu'
		when [EnglishName] = 'Samoan' then N'sa mo ya yu'
		when [EnglishName] = 'Sango' then N'san ge yu'
		when [EnglishName] = 'Senthang' then N'Senthang yu'
		when [EnglishName] = 'Shanghainese' then N'shang hai hua'
		when [EnglishName] = 'Shona' then N'xiu na yu'
		when [EnglishName] = 'Sichuan' then N'si chuan hua'
		when [EnglishName] = 'Sicilian' then N'xi xi li yu'
		when [EnglishName] = 'Sinhalese' then N'zen jia luo yu'
		when [EnglishName] = 'Siyin' then N'Siyin yu'
		when [EnglishName] = 'Slovene' then N'si luo wen ni ya yu'
		when [EnglishName] = 'Somali Bantu' then N'suo ma li ban tu yu'
		when [EnglishName] = 'Soninke' then N'suo nin ke yu'
		when [EnglishName] = 'Soninke (Sarahuli)' then N'suo nin ke yu (Sarahuli) '
		when [EnglishName] = 'Soninke (Sarakhole)' then N'suo nin ke yu (Sarakhole)'
		when [EnglishName] = 'Soranî (Kurdish)' then N'suo la ni yu (ku er de)'
		when [EnglishName] = 'Sousou' then N'Sousou yu'
		when [EnglishName] = 'Sylheti' then N'sai hai di yu'
		when [EnglishName] = 'Taiwanese' then N'tai wan hua'
		when [EnglishName] = 'Tajik' then N'ta ji ke yu'
		when [EnglishName] = 'Tamil' then N'tai mi er yu'
		when [EnglishName] = 'Telugu' then N'tai lu gu yu'
		when [EnglishName] = 'Temne' then N'Temne yu'
		when [EnglishName] = 'Teochew' then N'chao zhou hua'
		when [EnglishName] = 'Tibetan' then N'xi zang hua'
		when [EnglishName] = 'Tigrinya' then N'ti ge li ni ya yu'
		when [EnglishName] = 'Toisanese' then N'Toisanese语'
		when [EnglishName] = 'Tosk' then N'tuo si ke yu'
		when [EnglishName] = 'Trukese/Chuukese' then N'tu er qi/qiu ke yu'
		when [EnglishName] = 'Twi' then N'te wei yu'
		when [EnglishName] = 'Visayan' then N'mi sa yu'
		when [EnglishName] = 'Wolof' then N'wo luo fu yu'
		when [EnglishName] = 'Xhosa' then N'ke sa yu'
		when [EnglishName] = 'Yiddish' then N'yi di xu yu'
		when [EnglishName] = 'Yoruba' then N'yue lu ba yu'
		when [EnglishName] = 'Yup’ik' then N'Yup’ik yu'
		when [EnglishName] = 'Azerbaijani' then N'a sai bai jiang yu'
		when [EnglishName] = 'Ga' then N'ga yu'
		when [EnglishName] = 'Operator' then N'jie xian sheng'
		when [EnglishName] = 'Mexican Sign Language' then N'mo xi ge shou yu'
		when [EnglishName] = 'Fur' then N'Fur'
		when [EnglishName] = 'Masalit' then N'ma sa li te yu'

		else N''
		end as [SortCode]
	from [Language] a
	) a where a.[Name] <> ''

	
) a 


insert into [LanguageY]
(LanguageId, SystemLanguageId, [Name], [SortCode], CreateDate)
select a.*, GETUTCDATE()
from @TblY a left join [LanguageY] z on a.LanguageId = z.LanguageId and z.SystemLanguageId = @SystemLanguageId 
where z.Id is null

update a
set a.[Name] = b.[Name], a.SortCode = b.SortCode
from [LanguageY] a inner join @TblY b on a.LanguageId = b.LanguageId and a.SystemLanguageId = b.SystemLanguageId
where a.SystemLanguageId = @SystemLanguageId 

--select * from @TblY
--select * from LanguageY where SystemLanguageId = @SystemLanguageId 


delete [LanguageY] 
where (SystemLanguageId = @SystemLanguageId and LanguageId not in (select LanguageId from @TblY))
  or ( LanguageId in (select LanguageId from @TblY) and SystemLanguageId = 1)



select * 
from [Language] a left join [LanguageY] z on a.Id = z.LanguageId and z.SystemLanguageId = @SystemLanguageId
where z.Id is null
order by SortCode, [Name]



Go

