--select * from [Language]
--select * from [LanguageY]
--select * from SystemLanguage


declare @SystemLanguageId int
select @SystemLanguageId = Id
--select *
from SystemLanguage where [Name] = N'Deutsch'		-- German


declare @TblY as Table
(
	[LanguageId] [int] NOT NULL,
	[SystemLanguageId] [int] NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
	[SortCode] [nvarchar](256) NULL
)

delete @TblY

insert into @TblY
(LanguageId, SystemLanguageId, [Name], [SortCode])
select a.LanguageId, @SystemLanguageId, a.[Name], [SortCode]
from (
	select a.*
	from (
	select a.Id as LanguageId,
		case when [EnglishName] = 'English' then N'Englisch'
		when [EnglishName] = 'Chinese' then N'Chinesisch'
		when [EnglishName] = 'Chinese Mandarin' then N'Mandarin'
		when [EnglishName] = 'Chinese Cantonese' then N'Kantonesisch'
		when [EnglishName] = 'Spanish' then N'Spanisch'
		when [EnglishName] = 'French' then N'Französisch'
		when [EnglishName] = 'German' then N'Deutsch'
		when [EnglishName] = 'Portuguese' then N'Portugiesisch'
		when [EnglishName] = 'Italian' then N'Italienisch'
		when [EnglishName] = 'Russian' then N'Russisch'
		when [EnglishName] = 'Japanese' then N'Japanisch'
		when [EnglishName] = 'Korean' then N'Koreanisch'
		when [EnglishName] = 'Vietnamese' then N'Vietnamesisch'
		when [EnglishName] = 'Hindi' then N'Hindi'
		when [EnglishName] = 'Polish' then N'Polnisch'
		when [EnglishName] = 'Arabic' then N'Arabisch'
		when [EnglishName] = 'Bulgarian' then N'Bulgarisch'
		when [EnglishName] = 'Danish' then N'Dänisch'
		when [EnglishName] = 'Finnish' then N'Finnisch'
		when [EnglishName] = 'Dutch' then N'Niederländisch'
		when [EnglishName] = 'Hebrew' then N'Hebräisch'
		when [EnglishName] = 'Turkish' then N'Türkisch'
		when [EnglishName] = 'Indonesian' then N'Indonesisch'
		when [EnglishName] = 'Indonesian Javanese' then N'Indonesisches Javanisch'
		when [EnglishName] = 'Ukrainian' then N'Ukrainisch'
		when [EnglishName] = 'South Africa Zulu' then N'Zulu (Südafrika)'
		when [EnglishName] = 'Thai' then N'Thailändisch'
		when [EnglishName] = 'Czech' then N'Tschechisch'
		when [EnglishName] = 'Malay' then N'Malaiisch'
		when [EnglishName] = 'Romanian' then N'Rumänisch'
		when [EnglishName] = 'Icelandic' then N'Isländisch'
		when [EnglishName] = 'Bosnian' then N'Bosnisch'
		when [EnglishName] = 'Filipino' then N'Filipino'
		when [EnglishName] = 'Norwegian' then N'Norwegisch'
		when [EnglishName] = 'Latin' then N'Lateinisch'
		when [EnglishName] = 'Slovak' then N'Slowakisch'
		when [EnglishName] = 'Serbian' then N'Serbisch'
		when [EnglishName] = 'Croatian' then N'Kroatisch'
		when [EnglishName] = 'Latvian' then N'Lettisch'
		when [EnglishName] = 'Lithuanian' then N'Litauisch'
		when [EnglishName] = 'Maltese' then N'Maltesisch'
		when [EnglishName] = 'Macedonian' then N'Mazedonisch'
		when [EnglishName] = 'Mongolian' then N'Mongolisch'
		when [EnglishName] = 'Uzbek' then N'Usbekisch'
		when [EnglishName] = 'Armenian' then N'Armenisch'
		when [EnglishName] = 'Slovenian' then N'Slowenisch'
		when [EnglishName] = 'Swedish' then N'Schwedisch'
		when [EnglishName] = 'Burmese' then N'Birmanisch'
		when [EnglishName] = 'Bengali' then N'Bengalisch'
		when [EnglishName] = 'Lao' then N'Lao'
		when [EnglishName] = 'Persian' then N'Persisch'
		when [EnglishName] = 'Greek' then N'Griechisch'
		when [EnglishName] = 'Amharic' then N'Amharisch'
		when [EnglishName] = 'Cambodian' then N'Khmer'
		when [EnglishName] = 'Haitian Creole' then N'Haitianisches Kreol'
		when [EnglishName] = 'Swahili' then N'Swahili'
		when [EnglishName] = 'Kinyarwanda' then N'Kinyarwanda'

		when [EnglishName] = 'Nepali' then N'Nepali'
		when [EnglishName] = 'Somali' then N'Somali'
		when [EnglishName] = 'Tongan' then N'Tongaisch'
		when [EnglishName] = 'American Sign Language' then N'Amerikanische  Gebärdensprache'
		when [EnglishName] = 'Hungarian' then N'Ungarisch'
		when [EnglishName] = 'Albanian' then N'Albanisch'
		when [EnglishName] = 'Tagalog' then N'Tagalog'
		when [EnglishName] = 'Urdu' then N'Urdu'
		when [EnglishName] = 'Acehnese' then N'Achinesisch'
		when [EnglishName] = 'Acholi' then N'Acholi'
		when [EnglishName] = 'Afghani' then N'Afghanisch'
		when [EnglishName] = 'Afrikaans' then N'Afrikaans'
		when [EnglishName] = 'Akan' then N'Akan'
		when [EnglishName] = 'Akateco' then N'Akatekisch'
		when [EnglishName] = 'Anuak' then N'Anuak'
		when [EnglishName] = 'Arabic (Egyptian)' then N'Arabisch (ägyptisch)'
		when [EnglishName] = 'Arabic (Iraqi)' then N'Arabisch (irakisch)'
		when [EnglishName] = 'Arabic (Moroccan)' then N'Arabisch (marokkanisch)'
		when [EnglishName] = 'Arabic (Sudanese)' then N'Arabisch (sudanesisch)'
		when [EnglishName] = 'Arabic (Yemeni)' then N'Arabisch (jemenitisch)'
		when [EnglishName] = 'Ashanti' then N'Aschanti'
		when [EnglishName] = 'Assyrian' then N'Assyrisch'
		when [EnglishName] = 'Azeri' then N'Aserbaidschanisch'
		when [EnglishName] = 'Bahasa (Malaysian)' then N'Bahasa Malaysia'
		when [EnglishName] = 'Bambara' then N'Bambara'
		when [EnglishName] = 'Bashkir' then N'Baschkirisch'
		when [EnglishName] = 'Basque' then N'Baskisch'
		when [EnglishName] = 'Bassa' then N'Bassa'
		when [EnglishName] = 'Belarusian' then N'Belarussisch'
		when [EnglishName] = 'Cape Verde Creole' then N'Kreol (Kap Verde)'
		when [EnglishName] = 'Carolinian' then N'Karolinisch'
		when [EnglishName] = 'Catalan' then N'Katalanisch'
		when [EnglishName] = 'Cebuano' then N'Cebuano'
		when [EnglishName] = 'Chaldean' then N'Chaldäisch'
		when [EnglishName] = 'Chamorro' then N'Chamorro'
		when [EnglishName] = 'Chao-Chow' then N'Chaozhou'
		when [EnglishName] = 'Cherokee' then N'Cherokee'
		when [EnglishName] = 'Chin' then N'Chin'
		when [EnglishName] = 'Chin (Falam)' then N'Chin (Falam)'
		when [EnglishName] = 'Chin (Hakha)' then N'Chin (Hakha)'
		when [EnglishName] = 'Chin (Lai)' then N'Chin (Lai)'
		when [EnglishName] = 'Chin (Mizo)' then N'Chin (Mizo)'
		when [EnglishName] = 'Chin (Tedim)' then N'Chin (Tedim)'
		when [EnglishName] = 'Chin (Zo, Zomi)' then N'Chin (Zo, Zomi)'
		when [EnglishName] = 'Chin (Zophei)' then N'Chin (Zophei)'
		when [EnglishName] = 'Choujo' then N'Choujo'
		when [EnglishName] = 'Chuukese' then N'Chuukesisch'
		when [EnglishName] = 'Cotocoli (Tem)' then N'Kotokoli (Tem)'
		when [EnglishName] = 'Dari' then N'Dari'
		when [EnglishName] = 'Dinka' then N'Dinka'
		when [EnglishName] = 'Dioula' then N'Dioula'
		when [EnglishName] = 'Edo' then N'Edo'
		when [EnglishName] = 'Estonian' then N'Estnisch'
		when [EnglishName] = 'Ewe' then N'Ewe'
		when [EnglishName] = 'Farsi' then N'Farsi'
		when [EnglishName] = 'Flemish' then N'Flämisch'
		when [EnglishName] = 'Foochow (Fuzhou)' then N'Foochow (Fuzhou)'
		when [EnglishName] = 'French Canadian' then N'Kanadisches Französisch'
		when [EnglishName] = 'French Creole' then N'Französisches Kreol'
		when [EnglishName] = 'Fukienese' then N'Fukienese'
		when [EnglishName] = 'Fulani' then N'Fulfulde'
		when [EnglishName] = 'Fulde' then N'dasselbe wie Fulfulde'
		when [EnglishName] = 'Garre' then N'Garre'
		when [EnglishName] = 'Georgian' then N'Georgisch'
		when [EnglishName] = 'Guarani' then N'Guaraní'
		when [EnglishName] = 'Gujarati' then N'Gujarati'
		when [EnglishName] = 'Hainanese' then N'Hainanesisch'
		when [EnglishName] = 'Hakka (Chinese)' then N'Hakka (Chinesisch)'
		when [EnglishName] = 'Harar' then N'Harar'
		when [EnglishName] = 'Hassaniya' then N'Hassania'
		when [EnglishName] = 'Hausa' then N'Hausa'
		when [EnglishName] = 'Hmong' then N'Hmong'
		when [EnglishName] = 'Hokkien' then N'Hokkien'
		when [EnglishName] = 'Igbo' then N'Igbo'
		when [EnglishName] = 'Ilocano' then N'Ilokano'
		when [EnglishName] = 'Jarai' then N'Jarai'
		when [EnglishName] = 'Jiangsu' then N'Jiangsu'
		when [EnglishName] = 'K’iche’ (Quiché)' then N'K’iche’ (Quiché)'
		when [EnglishName] = 'Kannada' then N'Kannada'
		when [EnglishName] = 'Karen' then N'Karenisch'
		when [EnglishName] = 'Karen (Pwo)' then N'Karenisch (Pwo)'
		when [EnglishName] = 'Karenni (Kayah)' then N'Karenisch (Kayah)'
		when [EnglishName] = 'Kazakh' then N'Kasachisch'
		when [EnglishName] = 'Khmer' then N'Khmer'
		when [EnglishName] = 'Kikongo' then N'Kikongo'
		when [EnglishName] = 'Kikuyu' then N'Kikuyu'
		when [EnglishName] = 'Kinyamulenge' then N'Kinyamulenge'
		when [EnglishName] = 'Kirundi' then N'Kirundi'
		when [EnglishName] = 'Kituba' then N'Kituba'
		when [EnglishName] = 'Kizigua (Kizigula)' then N'Kizigua (Kizigula)'
		when [EnglishName] = 'Kosraean' then N'Kosraean'
		when [EnglishName] = 'Krahn' then N'Krahn'
		when [EnglishName] = 'Krio' then N'Krio'
		when [EnglishName] = 'Kunama' then N'Kunama'
		when [EnglishName] = 'Kurdish' then N'Kurdisch'
		when [EnglishName] = 'Kurdish (Bahdini)' then N'Kurdisch (Bahdini)'
		when [EnglishName] = 'Kurdish (Kurmanji)' then N'Kurdisch (Kurmandschi)'
		when [EnglishName] = 'Kurdish (Sorani)' then N'Kurdisch (Sorani)'
		when [EnglishName] = 'Kyrgyz' then N'Kirgisisch'
		when [EnglishName] = 'Lautu' then N'Lautu'
		when [EnglishName] = 'Lingala' then N'Lingála'
		when [EnglishName] = 'Lorma' then N'Lorma'
		when [EnglishName] = 'Luganda' then N'Luganda'
		when [EnglishName] = 'Luo' then N'Luo'
		when [EnglishName] = 'Maay-Maay' then N'Maay'
		when [EnglishName] = 'Malayalam' then N'Malayalam'
		when [EnglishName] = 'Mam' then N'Mam'
		when [EnglishName] = 'Mandinka' then N'Mandinka'
		when [EnglishName] = 'Mara' then N'Mara'
		when [EnglishName] = 'Marathi' then N'Marathi'
		when [EnglishName] = 'Marshallese' then N'Marshallesisch (Ebon)'
		when [EnglishName] = 'Matu' then N'Matu'
		when [EnglishName] = 'Mbay' then N'Mbay'
		when [EnglishName] = 'Mende' then N'Mende'
		when [EnglishName] = 'Mien' then N'Mien'
		when [EnglishName] = 'Mina' then N'Mina'
		when [EnglishName] = 'Mixteco (Alto)' then N'Mixtekisch (Alto)'
		when [EnglishName] = 'Mixteco (Bajo)' then N'Mixtekisch (Bajo)'
		when [EnglishName] = 'Moldovan' then N'Moldawisch'
		when [EnglishName] = 'Montenegrin' then N'Montenegrinisch'
		when [EnglishName] = 'Mushunguli' then N'Mushunguli'
		when [EnglishName] = 'Navajo' then N'Navajo'
		when [EnglishName] = 'Nuer' then N'Nuer'
		when [EnglishName] = 'Oromifa' then N'Oromo'
		when [EnglishName] = 'Pashto' then N'Paschtu'
		when [EnglishName] = 'Patois (Jamaican)' then N'Kreolisch (Jamaica)'
		when [EnglishName] = 'Pidgin (Cameroonian)' then N'Kamtok'
		when [EnglishName] = 'Pidgin (Nigerian)' then N'Pidgin  (Nigeria)'
		when [EnglishName] = 'Ponapean/Pohnpeian' then N'Ponapeanisch'
		when [EnglishName] = 'Portuguese (Brazilian)' then N'Portugiesisch (brasilianisch)'
		when [EnglishName] = 'Portuguese (European)' then N'Portugiesisch (europäisch)'
		when [EnglishName] = 'Portuguese Creole' then N'Portugiesisches Kreol'
		when [EnglishName] = 'Pulaar' then N'Pulaar'
		when [EnglishName] = 'Punjabi' then N'Punjabi'
		when [EnglishName] = 'Q’anjob’al' then N'Q’anjob’al'
		when [EnglishName] = 'Rohingya' then N'Rohingya'
		when [EnglishName] = 'Samoan' then N'Samoanisch'
		when [EnglishName] = 'Sango' then N'Sango'
		when [EnglishName] = 'Senthang' then N'Senthang'
		when [EnglishName] = 'Shanghainese' then N'Shanghainesisch'
		when [EnglishName] = 'Shona' then N'Shona'
		when [EnglishName] = 'Sichuan' then N'Sizilianisch'
		when [EnglishName] = 'Sicilian' then N'Sizilianer'
		when [EnglishName] = 'Sinhalese' then N'Singhalesisch'
		when [EnglishName] = 'Siyin' then N'Siyin'
		when [EnglishName] = 'Slovene' then N'Slowenisch'
		when [EnglishName] = 'Somali Bantu' then N'Bantu (Somalia)'
		when [EnglishName] = 'Soninke' then N'Soninke'
		when [EnglishName] = 'Soninke (Sarahuli)' then N'Soninke (Sarahuli)'
		when [EnglishName] = 'Soninke (Sarakhole)' then N'Soninke (Sarakhole)'
		when [EnglishName] = 'Soranî (Kurdish)' then N'Sorani (Kurdisch)'
		when [EnglishName] = 'Sousou' then N'Susu'
		when [EnglishName] = 'Sylheti' then N'Sylheti'
		when [EnglishName] = 'Taiwanese' then N'Taiwanesisch'
		when [EnglishName] = 'Tajik' then N'Tadschikisch'
		when [EnglishName] = 'Tamil' then N'Tamil'
		when [EnglishName] = 'Telugu' then N'Telugu'
		when [EnglishName] = 'Temne' then N'Temne'
		when [EnglishName] = 'Teochew' then N'Teochew'
		when [EnglishName] = 'Tibetan' then N'Tibetanische'
		when [EnglishName] = 'Tigrinya' then N'Tigrinya'
		when [EnglishName] = 'Toisanese' then N'Taishanesisch'
		when [EnglishName] = 'Tosk' then N'Toskisch'
		when [EnglishName] = 'Trukese/Chuukese' then N'Trukesisch/Chuukesisch'
		when [EnglishName] = 'Twi' then N'Twi'
		when [EnglishName] = 'Visayan' then N'Visaya-Sprache'
		when [EnglishName] = 'Wolof' then N'Wolof'
		when [EnglishName] = 'Xhosa' then N'Xhosa'
		when [EnglishName] = 'Yiddish' then N'Jiddisch'
		when [EnglishName] = 'Yoruba' then N'Yoruba'
		when [EnglishName] = 'Yup’ik' then N'Yupik'
		when [EnglishName] = 'Azerbaijani' then N'Aserbaidschanisch'
		when [EnglishName] = 'Ga' then N'Ga'
		when [EnglishName] = 'Fujian' then N'Fujian'
		when [EnglishName] = 'Operator' then N'Operator'
		when [EnglishName] = 'Mexican Sign Language' then N'Mexikanische Zeichensprache'

		else N''
		end as [Name],
	case when [EnglishName] = 'English' then N'Englisch'
		when [EnglishName] = 'Chinese' then N'Chinesisch'
		when [EnglishName] = 'Chinese Mandarin' then N'Mandarin'
		when [EnglishName] = 'Chinese Cantonese' then N'Kantonesisch'
		when [EnglishName] = 'Spanish' then N'Spanisch'
		when [EnglishName] = 'French' then N'Französisch'
		when [EnglishName] = 'German' then N'Deutsch'
		when [EnglishName] = 'Portuguese' then N'Portugiesisch'
		when [EnglishName] = 'Italian' then N'Italienisch'
		when [EnglishName] = 'Russian' then N'Russisch'
		when [EnglishName] = 'Japanese' then N'Japanisch'
		when [EnglishName] = 'Korean' then N'Koreanisch'
		when [EnglishName] = 'Vietnamese' then N'Vietnamesisch'
		when [EnglishName] = 'Hindi' then N'Hindi'
		when [EnglishName] = 'Polish' then N'Polnisch'
		when [EnglishName] = 'Arabic' then N'Arabisch'
		when [EnglishName] = 'Bulgarian' then N'Bulgarisch'
		when [EnglishName] = 'Danish' then N'Dänisch'
		when [EnglishName] = 'Finnish' then N'Finnisch'
		when [EnglishName] = 'Dutch' then N'Niederländisch'
		when [EnglishName] = 'Hebrew' then N'Hebräisch'
		when [EnglishName] = 'Turkish' then N'Türkisch'
		when [EnglishName] = 'Indonesian' then N'Indonesisch'
		when [EnglishName] = 'Indonesian Javanese' then N'Indonesisches Javanisch'
		when [EnglishName] = 'Ukrainian' then N'Ukrainisch'
		when [EnglishName] = 'South Africa Zulu' then N'Zulu (Südafrika)'
		when [EnglishName] = 'Thai' then N'Thailändisch'
		when [EnglishName] = 'Czech' then N'Tschechisch'
		when [EnglishName] = 'Malay' then N'Malaiisch'
		when [EnglishName] = 'Romanian' then N'Rumänisch'
		when [EnglishName] = 'Icelandic' then N'Isländisch'
		when [EnglishName] = 'Bosnian' then N'Bosnisch'
		when [EnglishName] = 'Filipino' then N'Filipino'
		when [EnglishName] = 'Norwegian' then N'Norwegisch'
		when [EnglishName] = 'Latin' then N'Lateinisch'
		when [EnglishName] = 'Slovak' then N'Slowakisch'
		when [EnglishName] = 'Serbian' then N'Serbisch'
		when [EnglishName] = 'Croatian' then N'Kroatisch'
		when [EnglishName] = 'Latvian' then N'Lettisch'
		when [EnglishName] = 'Lithuanian' then N'Litauisch'
		when [EnglishName] = 'Maltese' then N'Maltesisch'
		when [EnglishName] = 'Macedonian' then N'Mazedonisch'
		when [EnglishName] = 'Mongolian' then N'Mongolisch'
		when [EnglishName] = 'Uzbek' then N'Usbekisch'
		when [EnglishName] = 'Armenian' then N'Armenisch'
		when [EnglishName] = 'Slovenian' then N'Slowenisch'
		when [EnglishName] = 'Swedish' then N'Schwedisch'
		when [EnglishName] = 'Burmese' then N'Birmanisch'
		when [EnglishName] = 'Bengali' then N'Bengalisch'
		when [EnglishName] = 'Lao' then N'Lao'
		when [EnglishName] = 'Persian' then N'Persisch'
		when [EnglishName] = 'Greek' then N'Griechisch'
		when [EnglishName] = 'Amharic' then N'Amharisch'
		when [EnglishName] = 'Cambodian' then N'Khmer'
		when [EnglishName] = 'Haitian Creole' then N'Haitianisches Kreol'
		when [EnglishName] = 'Swahili' then N'Swahili'
		when [EnglishName] = 'Kinyarwanda' then N'Kinyarwanda'

		when [EnglishName] = 'Nepali' then N'Nepali'
		when [EnglishName] = 'Somali' then N'Somali'
		when [EnglishName] = 'Tongan' then N'Tongaisch'
		when [EnglishName] = 'American Sign Language' then N'Amerikanische  Gebärdensprache'
		when [EnglishName] = 'Hungarian' then N'Ungarisch'
		when [EnglishName] = 'Albanian' then N'Albanisch'
		when [EnglishName] = 'Tagalog' then N'Tagalog'
		when [EnglishName] = 'Urdu' then N'Urdu'
		when [EnglishName] = 'Acehnese' then N'Achinesisch'
		when [EnglishName] = 'Acholi' then N'Acholi'
		when [EnglishName] = 'Afghani' then N'Afghanisch'
		when [EnglishName] = 'Afrikaans' then N'Afrikaans'
		when [EnglishName] = 'Akan' then N'Akan'
		when [EnglishName] = 'Akateco' then N'Akatekisch'
		when [EnglishName] = 'Anuak' then N'Anuak'
		when [EnglishName] = 'Arabic (Egyptian)' then N'Arabisch (ägyptisch)'
		when [EnglishName] = 'Arabic (Iraqi)' then N'Arabisch (irakisch)'
		when [EnglishName] = 'Arabic (Moroccan)' then N'Arabisch (marokkanisch)'
		when [EnglishName] = 'Arabic (Sudanese)' then N'Arabisch (sudanesisch)'
		when [EnglishName] = 'Arabic (Yemeni)' then N'Arabisch (jemenitisch)'
		when [EnglishName] = 'Ashanti' then N'Aschanti'
		when [EnglishName] = 'Assyrian' then N'Assyrisch'
		when [EnglishName] = 'Azeri' then N'Aserbaidschanisch'
		when [EnglishName] = 'Bahasa (Malaysian)' then N'Bahasa Malaysia'
		when [EnglishName] = 'Bambara' then N'Bambara'
		when [EnglishName] = 'Bashkir' then N'Baschkirisch'
		when [EnglishName] = 'Basque' then N'Baskisch'
		when [EnglishName] = 'Bassa' then N'Bassa'
		when [EnglishName] = 'Belarusian' then N'Belarussisch'
		when [EnglishName] = 'Cape Verde Creole' then N'Kreol (Kap Verde)'
		when [EnglishName] = 'Carolinian' then N'Karolinisch'
		when [EnglishName] = 'Catalan' then N'Katalanisch'
		when [EnglishName] = 'Cebuano' then N'Cebuano'
		when [EnglishName] = 'Chaldean' then N'Chaldäisch'
		when [EnglishName] = 'Chamorro' then N'Chamorro'
		when [EnglishName] = 'Chao-Chow' then N'Chaozhou'
		when [EnglishName] = 'Cherokee' then N'Cherokee'
		when [EnglishName] = 'Chin' then N'Chin'
		when [EnglishName] = 'Chin (Falam)' then N'Chin (Falam)'
		when [EnglishName] = 'Chin (Hakha)' then N'Chin (Hakha)'
		when [EnglishName] = 'Chin (Lai)' then N'Chin (Lai)'
		when [EnglishName] = 'Chin (Mizo)' then N'Chin (Mizo)'
		when [EnglishName] = 'Chin (Tedim)' then N'Chin (Tedim)'
		when [EnglishName] = 'Chin (Zo, Zomi)' then N'Chin (Zo, Zomi)'
		when [EnglishName] = 'Chin (Zophei)' then N'Chin (Zophei)'
		when [EnglishName] = 'Choujo' then N'Choujo'
		when [EnglishName] = 'Chuukese' then N'Chuukesisch'
		when [EnglishName] = 'Cotocoli (Tem)' then N'Kotokoli (Tem)'
		when [EnglishName] = 'Dari' then N'Dari'
		when [EnglishName] = 'Dinka' then N'Dinka'
		when [EnglishName] = 'Dioula' then N'Dioula'
		when [EnglishName] = 'Edo' then N'Edo'
		when [EnglishName] = 'Estonian' then N'Estnisch'
		when [EnglishName] = 'Ewe' then N'Ewe'
		when [EnglishName] = 'Farsi' then N'Farsi'
		when [EnglishName] = 'Flemish' then N'Flämisch'
		when [EnglishName] = 'Foochow (Fuzhou)' then N'Foochow (Fuzhou)'
		when [EnglishName] = 'French Canadian' then N'Kanadisches Französisch'
		when [EnglishName] = 'French Creole' then N'Französisches Kreol'
		when [EnglishName] = 'Fukienese' then N'Fukienese'
		when [EnglishName] = 'Fulani' then N'Fulfulde'
		when [EnglishName] = 'Fulde' then N'dasselbe wie Fulfulde'
		when [EnglishName] = 'Garre' then N'Garre'
		when [EnglishName] = 'Georgian' then N'Georgisch'
		when [EnglishName] = 'Guarani' then N'Guaraní'
		when [EnglishName] = 'Gujarati' then N'Gujarati'
		when [EnglishName] = 'Hainanese' then N'Hainanesisch'
		when [EnglishName] = 'Hakka (Chinese)' then N'Hakka (Chinesisch)'
		when [EnglishName] = 'Harar' then N'Harar'
		when [EnglishName] = 'Hassaniya' then N'Hassania'
		when [EnglishName] = 'Hausa' then N'Hausa'
		when [EnglishName] = 'Hmong' then N'Hmong'
		when [EnglishName] = 'Hokkien' then N'Hokkien'
		when [EnglishName] = 'Igbo' then N'Igbo'
		when [EnglishName] = 'Ilocano' then N'Ilokano'
		when [EnglishName] = 'Jarai' then N'Jarai'
		when [EnglishName] = 'Jiangsu' then N'Jiangsu'
		when [EnglishName] = 'K’iche’ (Quiché)' then N'K’iche’ (Quiché)'
		when [EnglishName] = 'Kannada' then N'Kannada'
		when [EnglishName] = 'Karen' then N'Karenisch'
		when [EnglishName] = 'Karen (Pwo)' then N'Karenisch (Pwo)'
		when [EnglishName] = 'Karenni (Kayah)' then N'Karenisch (Kayah)'
		when [EnglishName] = 'Kazakh' then N'Kasachisch'
		when [EnglishName] = 'Khmer' then N'Khmer'
		when [EnglishName] = 'Kikongo' then N'Kikongo'
		when [EnglishName] = 'Kikuyu' then N'Kikuyu'
		when [EnglishName] = 'Kinyamulenge' then N'Kinyamulenge'
		when [EnglishName] = 'Kirundi' then N'Kirundi'
		when [EnglishName] = 'Kituba' then N'Kituba'
		when [EnglishName] = 'Kizigua (Kizigula)' then N'Kizigua (Kizigula)'
		when [EnglishName] = 'Kosraean' then N'Kosraean'
		when [EnglishName] = 'Krahn' then N'Krahn'
		when [EnglishName] = 'Krio' then N'Krio'
		when [EnglishName] = 'Kunama' then N'Kunama'
		when [EnglishName] = 'Kurdish' then N'Kurdisch'
		when [EnglishName] = 'Kurdish (Bahdini)' then N'Kurdisch (Bahdini)'
		when [EnglishName] = 'Kurdish (Kurmanji)' then N'Kurdisch (Kurmandschi)'
		when [EnglishName] = 'Kurdish (Sorani)' then N'Kurdisch (Sorani)'
		when [EnglishName] = 'Kyrgyz' then N'Kirgisisch'
		when [EnglishName] = 'Lautu' then N'Lautu'
		when [EnglishName] = 'Lingala' then N'Lingála'
		when [EnglishName] = 'Lorma' then N'Lorma'
		when [EnglishName] = 'Luganda' then N'Luganda'
		when [EnglishName] = 'Luo' then N'Luo'
		when [EnglishName] = 'Maay-Maay' then N'Maay'
		when [EnglishName] = 'Malayalam' then N'Malayalam'
		when [EnglishName] = 'Mam' then N'Mam'
		when [EnglishName] = 'Mandinka' then N'Mandinka'
		when [EnglishName] = 'Mara' then N'Mara'
		when [EnglishName] = 'Marathi' then N'Marathi'
		when [EnglishName] = 'Marshallese' then N'Marshallesisch (Ebon)'
		when [EnglishName] = 'Matu' then N'Matu'
		when [EnglishName] = 'Mbay' then N'Mbay'
		when [EnglishName] = 'Mende' then N'Mende'
		when [EnglishName] = 'Mien' then N'Mien'
		when [EnglishName] = 'Mina' then N'Mina'
		when [EnglishName] = 'Mixteco (Alto)' then N'Mixtekisch (Alto)'
		when [EnglishName] = 'Mixteco (Bajo)' then N'Mixtekisch (Bajo)'
		when [EnglishName] = 'Moldovan' then N'Moldawisch'
		when [EnglishName] = 'Montenegrin' then N'Montenegrinisch'
		when [EnglishName] = 'Mushunguli' then N'Mushunguli'
		when [EnglishName] = 'Navajo' then N'Navajo'
		when [EnglishName] = 'Nuer' then N'Nuer'
		when [EnglishName] = 'Oromifa' then N'Oromo'
		when [EnglishName] = 'Pashto' then N'Paschtu'
		when [EnglishName] = 'Patois (Jamaican)' then N'Kreolisch (Jamaica)'
		when [EnglishName] = 'Pidgin (Cameroonian)' then N'Kamtok'
		when [EnglishName] = 'Pidgin (Nigerian)' then N'Pidgin  (Nigeria)'
		when [EnglishName] = 'Ponapean/Pohnpeian' then N'Ponapeanisch'
		when [EnglishName] = 'Portuguese (Brazilian)' then N'Portugiesisch (brasilianisch)'
		when [EnglishName] = 'Portuguese (European)' then N'Portugiesisch (europäisch)'
		when [EnglishName] = 'Portuguese Creole' then N'Portugiesisches Kreol'
		when [EnglishName] = 'Pulaar' then N'Pulaar'
		when [EnglishName] = 'Punjabi' then N'Punjabi'
		when [EnglishName] = 'Q’anjob’al' then N'Q’anjob’al'
		when [EnglishName] = 'Rohingya' then N'Rohingya'
		when [EnglishName] = 'Samoan' then N'Samoanisch'
		when [EnglishName] = 'Sango' then N'Sango'
		when [EnglishName] = 'Senthang' then N'Senthang'
		when [EnglishName] = 'Shanghainese' then N'Shanghainesisch'
		when [EnglishName] = 'Shona' then N'Shona'
		when [EnglishName] = 'Sichuan' then N'Sizilianisch'
		when [EnglishName] = 'Sicilian' then N'Sizilianer'
		when [EnglishName] = 'Sinhalese' then N'Singhalesisch'
		when [EnglishName] = 'Siyin' then N'Siyin'
		when [EnglishName] = 'Slovene' then N'Slowenisch'
		when [EnglishName] = 'Somali Bantu' then N'Bantu (Somalia)'
		when [EnglishName] = 'Soninke' then N'Soninke'
		when [EnglishName] = 'Soninke (Sarahuli)' then N'Soninke (Sarahuli)'
		when [EnglishName] = 'Soninke (Sarakhole)' then N'Soninke (Sarakhole)'
		when [EnglishName] = 'Soranî (Kurdish)' then N'Sorani (Kurdisch)'
		when [EnglishName] = 'Sousou' then N'Susu'
		when [EnglishName] = 'Sylheti' then N'Sylheti'
		when [EnglishName] = 'Taiwanese' then N'Taiwanesisch'
		when [EnglishName] = 'Tajik' then N'Tadschikisch'
		when [EnglishName] = 'Tamil' then N'Tamil'
		when [EnglishName] = 'Telugu' then N'Telugu'
		when [EnglishName] = 'Temne' then N'Temne'
		when [EnglishName] = 'Teochew' then N'Teochew'
		when [EnglishName] = 'Tibetan' then N'Tibetanische'
		when [EnglishName] = 'Tigrinya' then N'Tigrinya'
		when [EnglishName] = 'Toisanese' then N'Taishanesisch'
		when [EnglishName] = 'Tosk' then N'Toskisch'
		when [EnglishName] = 'Trukese/Chuukese' then N'Trukesisch/Chuukesisch'
		when [EnglishName] = 'Twi' then N'Twi'
		when [EnglishName] = 'Visayan' then N'Visaya-Sprache'
		when [EnglishName] = 'Wolof' then N'Wolof'
		when [EnglishName] = 'Xhosa' then N'Xhosa'
		when [EnglishName] = 'Yiddish' then N'Jiddisch'
		when [EnglishName] = 'Yoruba' then N'Yoruba'
		when [EnglishName] = 'Yup’ik' then N'Yupik'
		when [EnglishName] = 'Azerbaijani' then N'Aserbaidschanisch'
		when [EnglishName] = 'Ga' then N'Ga'
		when [EnglishName] = 'Fujian' then N'Fujian'
		when [EnglishName] = 'Operator' then N'Operator'
		when [EnglishName] = 'Mexican Sign Language' then N'Mexikanische Zeichensprache'

		else N''
		end as [SortCode]
	from [Language] a
	) a where a.[Name] <> ''

	
) a 


insert into [LanguageY]
(LanguageId, SystemLanguageId, [Name], [SortCode], CreateDate)
select a.*, GETUTCDATE()
from @TblY a left join [LanguageY] z on a.LanguageId = z.LanguageId and z.SystemLanguageId = @SystemLanguageId 
where z.Id is null

update a
set a.[Name] = b.[Name], a.SortCode = b.SortCode
from [LanguageY] a inner join @TblY b on a.LanguageId = b.LanguageId and a.SystemLanguageId = b.SystemLanguageId
where a.SystemLanguageId = @SystemLanguageId 

--select * from @TblY
--select * from LanguageY where SystemLanguageId = @SystemLanguageId 


delete [LanguageY] 
where (SystemLanguageId = @SystemLanguageId and LanguageId not in (select LanguageId from @TblY))
  or ( LanguageId in (select LanguageId from @TblY) and SystemLanguageId = 1)



select * 
from [Language] a left join [LanguageY] z on a.Id = z.LanguageId and z.SystemLanguageId = @SystemLanguageId
where z.Id is null
order by SortCode, [Name]

Go

