--select * from [Region]
--select * from [RegionY]
--select * from Region


declare @SystemLanguageId int
select @SystemLanguageId = Id
--select *
from SystemLanguage where [Name] = N'Deutsch'

declare @Tbl_RegionY as Table
(
	[RegionId] [int] NOT NULL,
	[SystemLanguageId] [int] NOT NULL,
	[SortCode] [varchar](256) NOT NULL,
	[Name] [nvarchar](256) NOT NULL
)

insert into @Tbl_RegionY
(RegionId, SystemLanguageId, [Name], [SortCode])
select a.RegionId, @SystemLanguageId, a.[Name], [SortCode]
from (
	select a.*
	from (
	select a.Id as RegionId,
		case 
		when [Name] = 'Afghanistan' then N'Afghanistan'
		when [Name] = 'Albania' then N'Albanien'
		when [Name] = 'Algeria' then N'Algerien'
		when [Name] = 'American Samoa' then N'Amerikanischen Samoa-Inseln'
		when [Name] = 'Andorra' then N'Andorra'
		when [Name] = 'Angola' then N'Angola'
		when [Name] = 'Anguilla' then N'Anguilla'
		when [Name] = 'Antarctica' then N'Antarktis'
		when [Name] = 'Antigua and Barbuda' then N'Antigua und Barbuda'
		when [Name] = 'Argentina' then N'Argentinien'
		when [Name] = 'Armenia' then N'Armenien'
		when [Name] = 'Aruba' then N'Aruba'
		when [Name] = 'Australia' then N'Australien'
		when [Name] = 'Austria' then N'Österreich'
		when [Name] = 'Azerbaijan' then N'Aserbaidschan'

		when [Name] = 'Bahamas' then N'Bahamas'
		when [Name] = 'Bahrain' then N'Bahrain'
		when [Name] = 'Bangladesh' then N'Bangladesch'
		when [Name] = 'Barbados' then N'Barbados'
		when [Name] = 'Belarus' then N'Weißrussland'
		when [Name] = 'Belgium' then N'Belgien'
		when [Name] = 'Belize' then N'Belize'
		when [Name] = 'Benin' then N'Benin'
		when [Name] = 'Bermuda' then N'Bermuda'
		when [Name] = 'Bhutan' then N'Bhutan'
		when [Name] = 'Czech' then N'Tschechisch'

		when [Name] = 'Bolivia' then N'Bolivien'
		when [Name] = 'Bosnia and Herzegovina' then N'Bosnien und Herzegowina'
		when [Name] = 'Botswana' then N'Botswana'
		when [Name] = 'Brazil' then N'Brasilien'
		when [Name] = 'British Virgin Islands' then N'Britische Jungferninseln'
		when [Name] = 'Brunei' then N'Brunei'
		when [Name] = 'Bulgaria' then N'Bulgarien'
		when [Name] = 'Burkina Faso' then N'Burkina Faso'
		when [Name] = 'Burma (Myanmar)' then N'Burma (Myanmar)'
		when [Name] = 'Burundi' then N'Burundi'
		when [Name] = 'Cambodia' then N'Kambodscha'
		when [Name] = 'Cameroon' then N'Kamerun'
		when [Name] = 'Canada' then N'Kanada'
		when [Name] = 'Cape Verde' then N'Kap Verde'
		when [Name] = 'Cayman Islands' then N'Cayman Inseln'
		when [Name] = 'Central African Republic' then N'Zentralafrikanische Republik'
		when [Name] = 'Chad' then N'Tschad'
		when [Name] = 'Chile' then N'Chile'
		when [Name] = 'China' then N'China'
		when [Name] = 'Christmas Island' then N'Weihnachtsinsel'
		when [Name] = 'Cocos (Keeling) Islands' then N'Cocos (Keeling) Inseln'
		when [Name] = 'Colombia' then N'Kolumbien'
		when [Name] = 'Comoros' then N'Komoren'
		when [Name] = 'Cook Islands' then N'Cookinseln'
		when [Name] = 'Costa Rica' then N'Costa Rica'
		when [Name] = 'Croatia' then N'Kroatien'
		when [Name] = 'Cuba' then N'Kuba'
		when [Name] = 'Czech Republic' then N'Tschechien'
		when [Name] = 'Cyprus' then N'Zypern'
		when [Name] = 'Democratic Republic of the Congo' then N'Demokratische Republik Kongo'
		when [Name] = 'Denmark' then N'Dänemark'
		when [Name] = 'Djibouti' then N'Dschibuti'
		when [Name] = 'Dominica' then N'Dominica'
		when [Name] = 'Dominican Republic' then N'Dominikanische Republik'
		when [Name] = 'Ecuador' then N'Ecuador'
		when [Name] = 'Egypt' then N'Ägypten'
		when [Name] = 'El Salvador' then N'El Salvador'
		when [Name] = 'Equatorial Guinea' then N'Äquatorialguinea'
		when [Name] = 'Eritrea' then N'Eritrea'
		when [Name] = 'Estonia' then N'Estland'
		when [Name] = 'Ethiopia' then N'Äthiopien'
		when [Name] = 'Falkland Islands' then N'Falkland Inseln'
		when [Name] = 'Faroe Islands' then N'Färöer Inseln'
		when [Name] = 'Fiji' then N'Fidschi'
		when [Name] = 'Finland' then N'Finnland'
		when [Name] = 'France' then N'Frankreich'
		when [Name] = 'French Polynesia' then N'Französisch Polynesien'
		when [Name] = 'Gabon' then N'Gabun'
		when [Name] = 'Gambia' then N'Gambia'
		when [Name] = 'Gaza Strip' then N'Gazastreifen'
		when [Name] = 'Georgia' then N'Georgia'
		when [Name] = 'Germany' then N'Deutschland'
		when [Name] = 'Ghana' then N'Ghana'
		when [Name] = 'Gibraltar' then N'Gibraltar'
		when [Name] = 'Greece' then N'Griechenland'
		when [Name] = 'Greenland' then N'Grönland'
		when [Name] = 'Grenada' then N'Grenada'
		when [Name] = 'Guam' then N'Guam'
		when [Name] = 'Guatemala' then N'Guatemala'
		when [Name] = 'Guinea' then N'Guinea'
		when [Name] = 'Guinea-Bissau' then N'Guinea-Bissau'
		when [Name] = 'Guyana' then N'Guyana'
		when [Name] = 'Haiti' then N'Haiti'
		when [Name] = 'Holy See (Vatican City)' then N'Heiliger Stuhl (Vatikanstadt)'
		when [Name] = 'Honduras' then N'Honduras'
		when [Name] = 'Hong Kong' then N'Hongkong'
		when [Name] = 'Hungary' then N'Ungarn'
		when [Name] = 'India' then N'Indien'
		when [Name] = 'Iceland' then N'Island'
		when [Name] = 'Indonesia' then N'Indonesien'
		when [Name] = 'Iran' then N'Ich Rannte'
		when [Name] = 'Iraq' then N'Irak'
		when [Name] = 'Ireland' then N'Irland'
		when [Name] = 'Isle of Man' then N'Isle of Man'
		when [Name] = 'Israel' then N'Israel'
		when [Name] = 'Italy' then N'Italien'
		when [Name] = 'Ivory Coast' then N'Elfenbeinküste'
		when [Name] = 'Jamaica' then N'Jamaika'
		when [Name] = 'Japan' then N'Japan'
		when [Name] = 'Jordan' then N'Jordanien'
		when [Name] = 'Kazakhstan' then N'Kasachstan'
		when [Name] = 'Kenya' then N'Kenia'
		when [Name] = 'Kiribati' then N'Kiribati'
		when [Name] = 'Kosovo' then N'Kosovo'
		when [Name] = 'Kuwait' then N'Kuwait'
		when [Name] = 'Kyrgyzstan' then N'Kirgisistan'
		when [Name] = 'Laos' then N'Laos'
		when [Name] = 'Latvia' then N'Lettland'
		when [Name] = 'Lebanon' then N'Libanon'
		when [Name] = 'Lesotho' then N'Lesotho'
		when [Name] = 'Liberia' then N'Liberia'
		when [Name] = 'Libya' then N'Libyen'
		when [Name] = 'Liechtenstein' then N'Liechtenstein'
		when [Name] = 'Lithuania' then N'Litauen'
		when [Name] = 'Luxembourg' then N'Luxemburg'
		when [Name] = 'Macau' then N'Macau'
		when [Name] = 'Macedonia' then N'Mazedonien'
		when [Name] = 'Madagascar' then N'Madagaskar'
		when [Name] = 'Malawi' then N'Malawi'
		when [Name] = 'Malaysia' then N'Malaysia'
		when [Name] = 'Maldives' then N'Malediven'
		when [Name] = 'Mali' then N'Mali'
		when [Name] = 'Malta' then N'Malta'
		when [Name] = 'Marshall Islands' then N'Marshallinseln'
		when [Name] = 'Mauritania' then N'Mauretanien'
		when [Name] = 'Mauritius' then N'Mauritius'
		when [Name] = 'Mayotte' then N'Mayotte'
		when [Name] = 'Mexico' then N'Mexiko'
		when [Name] = 'Micronesia' then N'Mikronesien'
		when [Name] = 'Moldova' then N'Moldawien'
		when [Name] = 'Monaco' then N'Monaco'
		when [Name] = 'Mongolia' then N'Mongolei'
		when [Name] = 'Montenegro' then N'Montenegro'
		when [Name] = 'Montserrat' then N'Montserrat'
		when [Name] = 'Morocco' then N'Marokko'
		when [Name] = 'Mozambique' then N'Mosambik'
		when [Name] = 'Namibia' then N'Namibia'
		when [Name] = 'Nauru' then N'Nauru'
		when [Name] = 'Nepal' then N'Nepal'
		when [Name] = 'Netherlands' then N'Niederlande'
		when [Name] = 'Netherlands Antilles' then N'Niederländische Antillen'
		when [Name] = 'New Caledonia' then N'Neu-Kaledonien'
		when [Name] = 'New Zealand' then N'Neuseeland'
		when [Name] = 'Nicaragua' then N'Nicaragua'
		when [Name] = 'Niger' then N'Niger'
		when [Name] = 'Nigeria' then N'Nigeria'
		when [Name] = 'Niue' then N'Niue'
		when [Name] = 'Norfolk Island' then N'Norfolkinsel'
		when [Name] = 'North Korea' then N'Nord Korea'
		when [Name] = 'Northern Mariana Islands' then N'Nördliche Marianneninseln'
		when [Name] = 'Norway' then N'Norwegen'
		when [Name] = 'Oman' then N'Oman'
		when [Name] = 'Pakistan' then N'Pakistan'
		when [Name] = 'Palau' then N'Palau'
		when [Name] = 'Panama' then N'Panama'
		when [Name] = 'Papua New Guinea' then N'Papua Neu-Guinea'
		when [Name] = 'Paraguay' then N'Paraguay'
		when [Name] = 'Peru' then N'Peru'
		when [Name] = 'Philippines' then N'Philippinen'
		when [Name] = 'Pitcairn Islands' then N'Pitcairn-Inseln'
		when [Name] = 'Poland' then N'Polen'
		when [Name] = 'Portugal' then N'Portugal'
		when [Name] = 'Puerto Rico' then N'Puerto Rico'
		when [Name] = 'Qatar' then N'Katar'
		when [Name] = 'Republic of the Congo' then N'Republik Kongo'
		when [Name] = 'Romania' then N'Rumänien'
		when [Name] = 'Russia' then N'Russland'
		when [Name] = 'Rwanda' then N'Ruanda'
		when [Name] = 'Saint Barthelemy' then N'Saint Barthelemy'
		when [Name] = 'Saint Helena' then N'St. Helena'
		when [Name] = 'Saint Kitts and Nevis' then N'St. Kitts und Nevis'
		when [Name] = 'Saint Lucia' then N'St. Lucia'
		when [Name] = 'Saint Martin' then N'Saint Martin'
		when [Name] = 'Saint Pierre and Miquelon' then N'Saint Pierre und Miquelon'
		when [Name] = 'Saint Vincent and the Grenadines' then N'St. Vincent und die Grenadinen'
		when [Name] = 'Samoa' then N'Samoa'
		when [Name] = 'San Marino' then N'San Marino'
		when [Name] = 'Sao Tome and Principe' then N'Sao Tome und Principe'
		when [Name] = 'Saudi Arabia' then N'Saudi Arabien'
		when [Name] = 'Senegal' then N'Senegal'
		when [Name] = 'Serbia' then N'Serbien'
		when [Name] = 'Seychelles' then N'Seychellen'
		when [Name] = 'Sierra Leone' then N'Sierra Leone'
		when [Name] = 'Singapore' then N'Singapur'
		when [Name] = 'Slovakia' then N'Slowakei'
		when [Name] = 'Slovenia' then N'Slowenien'
		when [Name] = 'Solomon Islands' then N'Salomon-Inseln'
		when [Name] = 'Somalia' then N'Somalia'
		when [Name] = 'South Africa' then N'Südafrika'
		when [Name] = 'South Korea' then N'Südkorea'
		when [Name] = 'Spain' then N'Spanien'
		when [Name] = 'Sri Lanka' then N'Sri Lanka'
		when [Name] = 'Sudan' then N'Sudan'
		when [Name] = 'Suriname' then N'Suriname'
		when [Name] = 'Swaziland' then N'Swasiland'
		when [Name] = 'Sweden' then N'Schweden'
		when [Name] = 'Switzerland' then N'Schweiz'
		when [Name] = 'Syria' then N'Syrien'
		when [Name] = 'Taiwan' then N'Taiwan'
		when [Name] = 'Tajikistan' then N'Tadschikistan'
		when [Name] = 'Tanzania' then N'Tansania'
		when [Name] = 'Thailand' then N'Thailand'
		when [Name] = 'Timor-Leste' then N'Timor-Leste'
		when [Name] = 'Togo' then N'Gehen'
		when [Name] = 'Tokelau' then N'Tokelau'
		when [Name] = 'Tonga' then N'Tonga'
		when [Name] = 'Trinidad and Tobago' then N'Trinidad und Tobago'
		when [Name] = 'Tunisia' then N'Tunesien'
		when [Name] = 'Turkey' then N'Truthahn'
		when [Name] = 'Turkmenistan' then N'Turkmenistan'
		when [Name] = 'Turks and Caicos Islands' then N'Turks- und Caicosinseln'
		when [Name] = 'Tuvalu' then N'Tuvalu'
		when [Name] = 'Uganda' then N'Uganda'
		when [Name] = 'Ukraine' then N'Ukraine'
		when [Name] = 'United Arab Emirates' then N'Vereinigte Arabische Emirate'
		when [Name] = 'United Kingdom' then N'Großbritannien'
		when [Name] = 'United States' then N'Vereinigte Staaten'
		when [Name] = 'Uruguay' then N'Uruguay'
		when [Name] = 'US Virgin Islands' then N'US Jungferninseln'
		when [Name] = 'Uzbekistan' then N'Usbekistan'
		when [Name] = 'Vanuatu' then N'Vanuatu'
		when [Name] = 'Venezuela' then N'Venezuela'
		when [Name] = 'Vietnam' then N'Vietnam'
		when [Name] = 'Wallis and Futuna' then N'Wallis and Futuna'
		when [Name] = 'West Bank' then N'Westjordanland'
		when [Name] = 'Yemen' then N'Jemen'
		when [Name] = 'Zambia' then N'Sambia'
		when [Name] = 'Zimbabwe' then N'Simbabwe'
		else N''
		end as [Name],

		case 
		when [Name] = 'Afghanistan' then N'Afghanistan'
		when [Name] = 'Albania' then N'Albanien'
		when [Name] = 'Algeria' then N'Algerien'
		when [Name] = 'American Samoa' then N'Amerikanischen Samoa-Inseln'
		when [Name] = 'Andorra' then N'Andorra'
		when [Name] = 'Angola' then N'Angola'
		when [Name] = 'Anguilla' then N'Anguilla'
		when [Name] = 'Antarctica' then N'Antarktis'
		when [Name] = 'Antigua and Barbuda' then N'Antigua und Barbuda'
		when [Name] = 'Argentina' then N'Argentinien'
		when [Name] = 'Armenia' then N'Armenien'
		when [Name] = 'Aruba' then N'Aruba'
		when [Name] = 'Australia' then N'Australien'
		when [Name] = 'Austria' then N'Österreich'
		when [Name] = 'Azerbaijan' then N'Aserbaidschan'

		when [Name] = 'Bahamas' then N'Bahamas'
		when [Name] = 'Bahrain' then N'Bahrain'
		when [Name] = 'Bangladesh' then N'Bangladesch'
		when [Name] = 'Barbados' then N'Barbados'
		when [Name] = 'Belarus' then N'Weißrussland'
		when [Name] = 'Belgium' then N'Belgien'
		when [Name] = 'Belize' then N'Belize'
		when [Name] = 'Benin' then N'Benin'
		when [Name] = 'Bermuda' then N'Bermuda'
		when [Name] = 'Bhutan' then N'Bhutan'
		when [Name] = 'Czech' then N'Tschechisch'

		when [Name] = 'Bolivia' then N'Bolivien'
		when [Name] = 'Bosnia and Herzegovina' then N'Bosnien und Herzegowina'
		when [Name] = 'Botswana' then N'Botswana'
		when [Name] = 'Brazil' then N'Brasilien'
		when [Name] = 'British Virgin Islands' then N'Britische Jungferninseln'
		when [Name] = 'Brunei' then N'Brunei'
		when [Name] = 'Bulgaria' then N'Bulgarien'
		when [Name] = 'Burkina Faso' then N'Burkina Faso'
		when [Name] = 'Burma (Myanmar)' then N'Burma (Myanmar)'
		when [Name] = 'Burundi' then N'Burundi'
		when [Name] = 'Cambodia' then N'Kambodscha'
		when [Name] = 'Cameroon' then N'Kamerun'
		when [Name] = 'Canada' then N'Kanada'
		when [Name] = 'Cape Verde' then N'Kap Verde'
		when [Name] = 'Cayman Islands' then N'Cayman Inseln'
		when [Name] = 'Central African Republic' then N'Zentralafrikanische Republik'
		when [Name] = 'Chad' then N'Tschad'
		when [Name] = 'Chile' then N'Chile'
		when [Name] = 'China' then N'China'
		when [Name] = 'Christmas Island' then N'Weihnachtsinsel'
		when [Name] = 'Cocos (Keeling) Islands' then N'Cocos (Keeling) Inseln'
		when [Name] = 'Colombia' then N'Kolumbien'
		when [Name] = 'Comoros' then N'Komoren'
		when [Name] = 'Cook Islands' then N'Cookinseln'
		when [Name] = 'Costa Rica' then N'Costa Rica'
		when [Name] = 'Croatia' then N'Kroatien'
		when [Name] = 'Cuba' then N'Kuba'
		when [Name] = 'Czech Republic' then N'Tschechien'
		when [Name] = 'Cyprus' then N'Zypern'
		when [Name] = 'Democratic Republic of the Congo' then N'Demokratische Republik Kongo'
		when [Name] = 'Denmark' then N'Dänemark'
		when [Name] = 'Djibouti' then N'Dschibuti'
		when [Name] = 'Dominica' then N'Dominica'
		when [Name] = 'Dominican Republic' then N'Dominikanische Republik'
		when [Name] = 'Ecuador' then N'Ecuador'
		when [Name] = 'Egypt' then N'Ägypten'
		when [Name] = 'El Salvador' then N'El Salvador'
		when [Name] = 'Equatorial Guinea' then N'Äquatorialguinea'
		when [Name] = 'Eritrea' then N'Eritrea'
		when [Name] = 'Estonia' then N'Estland'
		when [Name] = 'Ethiopia' then N'Äthiopien'
		when [Name] = 'Falkland Islands' then N'Falkland Inseln'
		when [Name] = 'Faroe Islands' then N'Färöer Inseln'
		when [Name] = 'Fiji' then N'Fidschi'
		when [Name] = 'Finland' then N'Finnland'
		when [Name] = 'France' then N'Frankreich'
		when [Name] = 'French Polynesia' then N'Französisch Polynesien'
		when [Name] = 'Gabon' then N'Gabun'
		when [Name] = 'Gambia' then N'Gambia'
		when [Name] = 'Gaza Strip' then N'Gazastreifen'
		when [Name] = 'Georgia' then N'Georgia'
		when [Name] = 'Germany' then N'Deutschland'
		when [Name] = 'Ghana' then N'Ghana'
		when [Name] = 'Gibraltar' then N'Gibraltar'
		when [Name] = 'Greece' then N'Griechenland'
		when [Name] = 'Greenland' then N'Grönland'
		when [Name] = 'Grenada' then N'Grenada'
		when [Name] = 'Guam' then N'Guam'
		when [Name] = 'Guatemala' then N'Guatemala'
		when [Name] = 'Guinea' then N'Guinea'
		when [Name] = 'Guinea-Bissau' then N'Guinea-Bissau'
		when [Name] = 'Guyana' then N'Guyana'
		when [Name] = 'Haiti' then N'Haiti'
		when [Name] = 'Holy See (Vatican City)' then N'Heiliger Stuhl (Vatikanstadt)'
		when [Name] = 'Honduras' then N'Honduras'
		when [Name] = 'Hong Kong' then N'Hongkong'
		when [Name] = 'Hungary' then N'Ungarn'
		when [Name] = 'India' then N'Indien'
		when [Name] = 'Iceland' then N'Island'
		when [Name] = 'Indonesia' then N'Indonesien'
		when [Name] = 'Iran' then N'Ich Rannte'
		when [Name] = 'Iraq' then N'Irak'
		when [Name] = 'Ireland' then N'Irland'
		when [Name] = 'Isle of Man' then N'Isle of Man'
		when [Name] = 'Israel' then N'Israel'
		when [Name] = 'Italy' then N'Italien'
		when [Name] = 'Ivory Coast' then N'Elfenbeinküste'
		when [Name] = 'Jamaica' then N'Jamaika'
		when [Name] = 'Japan' then N'Japan'
		when [Name] = 'Jordan' then N'Jordanien'
		when [Name] = 'Kazakhstan' then N'Kasachstan'
		when [Name] = 'Kenya' then N'Kenia'
		when [Name] = 'Kiribati' then N'Kiribati'
		when [Name] = 'Kosovo' then N'Kosovo'
		when [Name] = 'Kuwait' then N'Kuwait'
		when [Name] = 'Kyrgyzstan' then N'Kirgisistan'
		when [Name] = 'Laos' then N'Laos'
		when [Name] = 'Latvia' then N'Lettland'
		when [Name] = 'Lebanon' then N'Libanon'
		when [Name] = 'Lesotho' then N'Lesotho'
		when [Name] = 'Liberia' then N'Liberia'
		when [Name] = 'Libya' then N'Libyen'
		when [Name] = 'Liechtenstein' then N'Liechtenstein'
		when [Name] = 'Lithuania' then N'Litauen'
		when [Name] = 'Luxembourg' then N'Luxemburg'
		when [Name] = 'Macau' then N'Macau'
		when [Name] = 'Macedonia' then N'Mazedonien'
		when [Name] = 'Madagascar' then N'Madagaskar'
		when [Name] = 'Malawi' then N'Malawi'
		when [Name] = 'Malaysia' then N'Malaysia'
		when [Name] = 'Maldives' then N'Malediven'
		when [Name] = 'Mali' then N'Mali'
		when [Name] = 'Malta' then N'Malta'
		when [Name] = 'Marshall Islands' then N'Marshallinseln'
		when [Name] = 'Mauritania' then N'Mauretanien'
		when [Name] = 'Mauritius' then N'Mauritius'
		when [Name] = 'Mayotte' then N'Mayotte'
		when [Name] = 'Mexico' then N'Mexiko'
		when [Name] = 'Micronesia' then N'Mikronesien'
		when [Name] = 'Moldova' then N'Moldawien'
		when [Name] = 'Monaco' then N'Monaco'
		when [Name] = 'Mongolia' then N'Mongolei'
		when [Name] = 'Montenegro' then N'Montenegro'
		when [Name] = 'Montserrat' then N'Montserrat'
		when [Name] = 'Morocco' then N'Marokko'
		when [Name] = 'Mozambique' then N'Mosambik'
		when [Name] = 'Namibia' then N'Namibia'
		when [Name] = 'Nauru' then N'Nauru'
		when [Name] = 'Nepal' then N'Nepal'
		when [Name] = 'Netherlands' then N'Niederlande'
		when [Name] = 'Netherlands Antilles' then N'Niederländische Antillen'
		when [Name] = 'New Caledonia' then N'Neu-Kaledonien'
		when [Name] = 'New Zealand' then N'Neuseeland'
		when [Name] = 'Nicaragua' then N'Nicaragua'
		when [Name] = 'Niger' then N'Niger'
		when [Name] = 'Nigeria' then N'Nigeria'
		when [Name] = 'Niue' then N'Niue'
		when [Name] = 'Norfolk Island' then N'Norfolkinsel'
		when [Name] = 'North Korea' then N'Nord Korea'
		when [Name] = 'Northern Mariana Islands' then N'Nördliche Marianneninseln'
		when [Name] = 'Norway' then N'Norwegen'
		when [Name] = 'Oman' then N'Oman'
		when [Name] = 'Pakistan' then N'Pakistan'
		when [Name] = 'Palau' then N'Palau'
		when [Name] = 'Panama' then N'Panama'
		when [Name] = 'Papua New Guinea' then N'Papua Neu-Guinea'
		when [Name] = 'Paraguay' then N'Paraguay'
		when [Name] = 'Peru' then N'Peru'
		when [Name] = 'Philippines' then N'Philippinen'
		when [Name] = 'Pitcairn Islands' then N'Pitcairn-Inseln'
		when [Name] = 'Poland' then N'Polen'
		when [Name] = 'Portugal' then N'Portugal'
		when [Name] = 'Puerto Rico' then N'Puerto Rico'
		when [Name] = 'Qatar' then N'Katar'
		when [Name] = 'Republic of the Congo' then N'Republik Kongo'
		when [Name] = 'Romania' then N'Rumänien'
		when [Name] = 'Russia' then N'Russland'
		when [Name] = 'Rwanda' then N'Ruanda'
		when [Name] = 'Saint Barthelemy' then N'Saint Barthelemy'
		when [Name] = 'Saint Helena' then N'St. Helena'
		when [Name] = 'Saint Kitts and Nevis' then N'St. Kitts und Nevis'
		when [Name] = 'Saint Lucia' then N'St. Lucia'
		when [Name] = 'Saint Martin' then N'Saint Martin'
		when [Name] = 'Saint Pierre and Miquelon' then N'Saint Pierre und Miquelon'
		when [Name] = 'Saint Vincent and the Grenadines' then N'St. Vincent und die Grenadinen'
		when [Name] = 'Samoa' then N'Samoa'
		when [Name] = 'San Marino' then N'San Marino'
		when [Name] = 'Sao Tome and Principe' then N'Sao Tome und Principe'
		when [Name] = 'Saudi Arabia' then N'Saudi Arabien'
		when [Name] = 'Senegal' then N'Senegal'
		when [Name] = 'Serbia' then N'Serbien'
		when [Name] = 'Seychelles' then N'Seychellen'
		when [Name] = 'Sierra Leone' then N'Sierra Leone'
		when [Name] = 'Singapore' then N'Singapur'
		when [Name] = 'Slovakia' then N'Slowakei'
		when [Name] = 'Slovenia' then N'Slowenien'
		when [Name] = 'Solomon Islands' then N'Salomon-Inseln'
		when [Name] = 'Somalia' then N'Somalia'
		when [Name] = 'South Africa' then N'Südafrika'
		when [Name] = 'South Korea' then N'Südkorea'
		when [Name] = 'Spain' then N'Spanien'
		when [Name] = 'Sri Lanka' then N'Sri Lanka'
		when [Name] = 'Sudan' then N'Sudan'
		when [Name] = 'Suriname' then N'Suriname'
		when [Name] = 'Swaziland' then N'Swasiland'
		when [Name] = 'Sweden' then N'Schweden'
		when [Name] = 'Switzerland' then N'Schweiz'
		when [Name] = 'Syria' then N'Syrien'
		when [Name] = 'Taiwan' then N'Taiwan'
		when [Name] = 'Tajikistan' then N'Tadschikistan'
		when [Name] = 'Tanzania' then N'Tansania'
		when [Name] = 'Thailand' then N'Thailand'
		when [Name] = 'Timor-Leste' then N'Timor-Leste'
		when [Name] = 'Togo' then N'Gehen'
		when [Name] = 'Tokelau' then N'Tokelau'
		when [Name] = 'Tonga' then N'Tonga'
		when [Name] = 'Trinidad and Tobago' then N'Trinidad und Tobago'
		when [Name] = 'Tunisia' then N'Tunesien'
		when [Name] = 'Turkey' then N'Truthahn'
		when [Name] = 'Turkmenistan' then N'Turkmenistan'
		when [Name] = 'Turks and Caicos Islands' then N'Turks- und Caicosinseln'
		when [Name] = 'Tuvalu' then N'Tuvalu'
		when [Name] = 'Uganda' then N'Uganda'
		when [Name] = 'Ukraine' then N'Ukraine'
		when [Name] = 'United Arab Emirates' then N'Vereinigte Arabische Emirate'
		when [Name] = 'United Kingdom' then N'Großbritannien'
		when [Name] = 'United States' then N'Vereinigte Staaten'
		when [Name] = 'Uruguay' then N'Uruguay'
		when [Name] = 'US Virgin Islands' then N'US Jungferninseln'
		when [Name] = 'Uzbekistan' then N'Usbekistan'
		when [Name] = 'Vanuatu' then N'Vanuatu'
		when [Name] = 'Venezuela' then N'Venezuela'
		when [Name] = 'Vietnam' then N'Vietnam'
		when [Name] = 'Wallis and Futuna' then N'Wallis and Futuna'
		when [Name] = 'West Bank' then N'Westjordanland'
		when [Name] = 'Yemen' then N'Jemen'
		when [Name] = 'Zambia' then N'Sambia'
		when [Name] = 'Zimbabwe' then N'Simbabwe'
		else N''
		end as [SortCode]
	from [Region] a
	) a where a.[Name] <> ''

	
) a 


insert into [RegionY]
(RegionId, SystemLanguageId, [Name], [SortCode], CreateDate)
select a.RegionId, @SystemLanguageId, a.[Name], a.[SortCode], GETUTCDATE()
from @Tbl_RegionY a 
	left join  [RegionY] z on a.RegionId = z.RegionId and z.SystemLanguageId = @SystemLanguageId 
where z.Id is null


delete
--select * from
RegionY where SystemLanguageId = @SystemLanguageId and Id not in (
	select a.Id
	from RegionY a inner join Region b on a.RegionId = b.Id and a.SystemLanguageId = @SystemLanguageId
)

update a
set a.[Name] = b.[Name]
from RegionY a inner join @Tbl_RegionY b on a.SystemLanguageId = b.SystemLanguageId and a.RegionId = b.RegionId and a.[Name] <> b.[Name]

update a
set a.[SortCode] = b.[SortCode]
from RegionY a inner join @Tbl_RegionY b on a.SystemLanguageId = b.SystemLanguageId and a.RegionId = b.RegionId and a.[SortCode] <> b.[SortCode]

select * from [RegionY] where SystemLanguageId = @SystemLanguageId
order by SortCode

/*
select * from Region a left join RegionY b on b.SystemLanguageId = 2 and a.Id = b.RegionId
where b.Id is null
*/

go

