--select * from [Region]
--select * from [RegionY]
--select * from Region


declare @SystemLanguageId int
select @SystemLanguageId = Id
--select *
from SystemLanguage where [Name] = N'简体中文'

declare @Tbl_RegionY as Table
(
	[RegionId] [int] NOT NULL,
	[SystemLanguageId] [int] NOT NULL,
	[SortCode] [varchar](256) NOT NULL,
	[Name] [nvarchar](256) NOT NULL
)

insert into @Tbl_RegionY
(RegionId, SystemLanguageId, [Name], [SortCode])
select a.RegionId, @SystemLanguageId, a.[Name], [SortCode]
from (
	select a.*
	from (
	select a.Id as RegionId,
		case 
		when [Name] = 'Afghanistan' then N'阿富汗'
		when [Name] = 'Albania' then N'阿尔巴尼亚'
		when [Name] = 'Algeria' then N'阿尔及利亚'
		when [Name] = 'American Samoa' then N'美属萨摩亚'
		when [Name] = 'Andorra' then N'安道尔'
		when [Name] = 'Angola' then N'安哥拉'
		when [Name] = 'Anguilla' then N'安圭拉'
		when [Name] = 'Antarctica' then N'南极洲'
		when [Name] = 'Antigua and Barbuda' then N'安提瓜和巴布达'
		when [Name] = 'Argentina' then N'阿根廷'
		when [Name] = 'Armenia' then N'亚美尼亚'
		when [Name] = 'Aruba' then N'阿鲁巴'
		when [Name] = 'Australia' then N'澳大利亚'
		when [Name] = 'Austria' then N'奥地利'
		when [Name] = 'Azerbaijan' then N'阿塞拜疆'

		when [Name] = 'Bahamas' then N'巴哈马'
		when [Name] = 'Bahrain' then N'巴林'
		when [Name] = 'Bangladesh' then N'孟加拉国'
		when [Name] = 'Barbados' then N'巴巴多斯'
		when [Name] = 'Belarus' then N'白俄罗斯'
		when [Name] = 'Belgium' then N'比利时'
		when [Name] = 'Belize' then N'伯利兹'
		when [Name] = 'Benin' then N'贝宁'
		when [Name] = 'Bermuda' then N'百慕大'
		when [Name] = 'Bhutan' then N'不丹'
		when [Name] = 'Czech' then N'捷克'

		when [Name] = 'Bolivia' then N'玻利维亚'
		when [Name] = 'Bosnia and Herzegovina' then N'波黑'
		when [Name] = 'Botswana' then N'博茨瓦纳'
		when [Name] = 'Brazil' then N'巴西'
		when [Name] = 'British Virgin Islands' then N'英属维尔京群岛'
		when [Name] = 'Brunei' then N'文莱'
		when [Name] = 'Bulgaria' then N'保加利亚'
		when [Name] = 'Burkina Faso' then N'布基纳法索'
		when [Name] = 'Burma (Myanmar)' then N'缅甸'
		when [Name] = 'Burundi' then N'布隆迪'
		when [Name] = 'Cambodia' then N'柬埔寨'
		when [Name] = 'Cameroon' then N'喀麦隆'
		when [Name] = 'Canada' then N'加拿大'
		when [Name] = 'Cape Verde' then N'佛得角'
		when [Name] = 'Cayman Islands' then N'开曼群岛'
		when [Name] = 'Central African Republic' then N'中非共和国'
		when [Name] = 'Chad' then N'乍得'
		when [Name] = 'Chile' then N'智利'
		when [Name] = 'China' then N'中国'
		when [Name] = 'Christmas Island' then N'圣诞岛'
		when [Name] = 'Cocos (Keeling) Islands' then N'科科斯群岛'
		when [Name] = 'Colombia' then N'哥伦比亚'
		when [Name] = 'Comoros' then N'科摩罗'
		when [Name] = 'Cook Islands' then N'库克群岛'
		when [Name] = 'Costa Rica' then N'哥斯达黎加'
		when [Name] = 'Croatia' then N'克罗地亚'
		when [Name] = 'Cuba' then N'古巴'
		when [Name] = 'Czech Republic' then N'捷克共和国'
		when [Name] = 'Cyprus' then N'塞浦路斯'
		when [Name] = 'Democratic Republic of the Congo' then N'刚果民主共和国'
		when [Name] = 'Denmark' then N'丹麦'
		when [Name] = 'Djibouti' then N'吉布提'
		when [Name] = 'Dominica' then N'多米尼加'
		when [Name] = 'Dominican Republic' then N'多明尼加共和国'
		when [Name] = 'Ecuador' then N'厄瓜多尔'
		when [Name] = 'Egypt' then N'埃及'
		when [Name] = 'El Salvador' then N'萨尔瓦多'
		when [Name] = 'Equatorial Guinea' then N'赤道几内亚'
		when [Name] = 'Eritrea' then N'厄立特里亚'
		when [Name] = 'Estonia' then N'爱沙尼亚'
		when [Name] = 'Ethiopia' then N'埃塞俄比亚'
		when [Name] = 'Falkland Islands' then N'福克兰群岛'
		when [Name] = 'Faroe Islands' then N'法罗群岛'
		when [Name] = 'Fiji' then N'斐济'
		when [Name] = 'Finland' then N'芬兰'
		when [Name] = 'France' then N'法国'
		when [Name] = 'French Polynesia' then N'法属波利尼西亚'
		when [Name] = 'Gabon' then N'加蓬'
		when [Name] = 'Gambia' then N'冈比亚'
		when [Name] = 'Gaza Strip' then N'加沙地带'
		when [Name] = 'Georgia' then N'格鲁吉亚'
		when [Name] = 'Germany' then N'德国'
		when [Name] = 'Ghana' then N'加纳'
		when [Name] = 'Gibraltar' then N'直布罗陀'
		when [Name] = 'Greece' then N'希腊'
		when [Name] = 'Greenland' then N'格陵兰岛'
		when [Name] = 'Grenada' then N'格林纳达'
		when [Name] = 'Guam' then N'关岛'
		when [Name] = 'Guatemala' then N'危地马拉'
		when [Name] = 'Guinea' then N'几内亚'
		when [Name] = 'Guinea-Bissau' then N'几内亚比绍'
		when [Name] = 'Guyana' then N'圭亚那'
		when [Name] = 'Haiti' then N'海地'
		when [Name] = 'Holy See (Vatican City)' then N'罗马教廷 （梵蒂冈)'
		when [Name] = 'Honduras' then N'洪都拉斯'
		when [Name] = 'Hong Kong' then N'香港'
		when [Name] = 'Hungary' then N'匈牙利'
		when [Name] = 'India' then N'印度'
		when [Name] = 'Iceland' then N'冰岛'
		when [Name] = 'Indonesia' then N'印尼'
		when [Name] = 'Iran' then N'伊朗'
		when [Name] = 'Iraq' then N'伊拉克'
		when [Name] = 'Ireland' then N'爱尔兰'
		when [Name] = 'Isle of Man' then N'马恩岛'
		when [Name] = 'Israel' then N'以色列'
		when [Name] = 'Italy' then N'意大利'
		when [Name] = 'Ivory Coast' then N'象牙海岸'
		when [Name] = 'Jamaica' then N'牙买加'
		when [Name] = 'Japan' then N'日本'
		when [Name] = 'Jordan' then N'约旦'
		when [Name] = 'Kazakhstan' then N'哈萨克斯坦'
		when [Name] = 'Kenya' then N'肯尼亚'
		when [Name] = 'Kiribati' then N'基里巴斯'
		when [Name] = 'Kosovo' then N'科索沃'
		when [Name] = 'Kuwait' then N'科威特'
		when [Name] = 'Kyrgyzstan' then N'吉尔吉斯斯坦'
		when [Name] = 'Laos' then N'老挝'
		when [Name] = 'Latvia' then N'拉脱维亚'
		when [Name] = 'Lebanon' then N'黎巴嫩'
		when [Name] = 'Lesotho' then N'莱索托'
		when [Name] = 'Liberia' then N'利比里亚'
		when [Name] = 'Libya' then N'利比亚'
		when [Name] = 'Liechtenstein' then N'列支敦士登'
		when [Name] = 'Lithuania' then N'立陶宛'
		when [Name] = 'Luxembourg' then N'卢森堡'
		when [Name] = 'Macau' then N'澳门'
		when [Name] = 'Macedonia' then N'马其顿'
		when [Name] = 'Madagascar' then N'马达加斯加'
		when [Name] = 'Malawi' then N'马拉维'
		when [Name] = 'Malaysia' then N'马来西亚'
		when [Name] = 'Maldives' then N'马尔代夫'
		when [Name] = 'Mali' then N'马里'
		when [Name] = 'Malta' then N'马耳他'
		when [Name] = 'Marshall Islands' then N'马绍尔群岛'
		when [Name] = 'Mauritania' then N'毛里塔尼亚'
		when [Name] = 'Mauritius' then N'毛里求斯'
		when [Name] = 'Mayotte' then N'马约特'
		when [Name] = 'Mexico' then N'墨西哥'
		when [Name] = 'Micronesia' then N'密克罗尼西亚'
		when [Name] = 'Moldova' then N'摩尔多瓦'
		when [Name] = 'Monaco' then N'摩纳哥'
		when [Name] = 'Mongolia' then N'蒙古'
		when [Name] = 'Montenegro' then N'黑山共和国'
		when [Name] = 'Montserrat' then N'蒙特塞拉特'
		when [Name] = 'Morocco' then N'摩洛哥'
		when [Name] = 'Mozambique' then N'莫桑比克'
		when [Name] = 'Namibia' then N'纳米比亚'
		when [Name] = 'Nauru' then N'瑙鲁'
		when [Name] = 'Nepal' then N'尼泊尔'
		when [Name] = 'Netherlands' then N'荷兰'
		when [Name] = 'Netherlands Antilles' then N'荷属安的列斯'
		when [Name] = 'New Caledonia' then N'新喀里多尼亚'
		when [Name] = 'New Zealand' then N'新西兰'
		when [Name] = 'Nicaragua' then N'尼加拉瓜'
		when [Name] = 'Niger' then N'尼日尔'
		when [Name] = 'Nigeria' then N'尼日利亚'
		when [Name] = 'Niue' then N'纽埃'
		when [Name] = 'Norfolk Island' then N'诺福克岛'
		when [Name] = 'North Korea' then N'北朝鲜'
		when [Name] = 'Northern Mariana Islands' then N'北马里亚纳群岛'
		when [Name] = 'Norway' then N'挪威'
		when [Name] = 'Oman' then N'阿曼'
		when [Name] = 'Pakistan' then N'巴基斯坦'
		when [Name] = 'Palau' then N'帕劳'
		when [Name] = 'Panama' then N'巴拿马'
		when [Name] = 'Papua New Guinea' then N'巴布亚新几内亚'
		when [Name] = 'Paraguay' then N'巴拉圭'
		when [Name] = 'Peru' then N'秘鲁'
		when [Name] = 'Philippines' then N'菲律宾'
		when [Name] = 'Pitcairn Islands' then N'皮特凯恩群岛'
		when [Name] = 'Poland' then N'波兰'
		when [Name] = 'Portugal' then N'葡萄牙'
		when [Name] = 'Puerto Rico' then N'波多黎各'
		when [Name] = 'Qatar' then N'卡塔尔'
		when [Name] = 'Republic of the Congo' then N'刚果共和国'
		when [Name] = 'Romania' then N'罗马尼亚'
		when [Name] = 'Russia' then N'俄罗斯'
		when [Name] = 'Rwanda' then N'卢旺达'
		when [Name] = 'Saint Barthelemy' then N'圣巴泰勒米岛'
		when [Name] = 'Saint Helena' then N'圣赫勒拿'
		when [Name] = 'Saint Kitts and Nevis' then N'圣基茨和尼维斯'
		when [Name] = 'Saint Lucia' then N'圣卢西亚'
		when [Name] = 'Saint Martin' then N'圣马丁'
		when [Name] = 'Saint Pierre and Miquelon' then N'圣皮埃尔和密克隆'
		when [Name] = 'Saint Vincent and the Grenadines' then N'圣文森特和格林纳丁斯'
		when [Name] = 'Samoa' then N'萨摩亚'
		when [Name] = 'San Marino' then N'圣马力诺'
		when [Name] = 'Sao Tome and Principe' then N'圣多美和普林西比'
		when [Name] = 'Saudi Arabia' then N'沙特阿拉伯'
		when [Name] = 'Senegal' then N'塞内加尔'
		when [Name] = 'Serbia' then N'塞尔维亚'
		when [Name] = 'Seychelles' then N'塞舌尔'
		when [Name] = 'Sierra Leone' then N'塞拉利昂'
		when [Name] = 'Singapore' then N'新加坡'
		when [Name] = 'Slovakia' then N'斯洛伐克'
		when [Name] = 'Slovenia' then N'斯洛文尼亚'
		when [Name] = 'Solomon Islands' then N'所罗门群岛'
		when [Name] = 'Somalia' then N'索马里'
		when [Name] = 'South Africa' then N'南非'
		when [Name] = 'South Korea' then N'韩国'
		when [Name] = 'Spain' then N'西班牙'
		when [Name] = 'Sri Lanka' then N'斯里兰卡'
		when [Name] = 'Sudan' then N'苏丹'
		when [Name] = 'Suriname' then N'苏里南'
		when [Name] = 'Swaziland' then N'斯威士兰'
		when [Name] = 'Sweden' then N'瑞典'
		when [Name] = 'Switzerland' then N'瑞士'
		when [Name] = 'Syria' then N'叙利亚'
		when [Name] = 'Taiwan' then N'台湾'
		when [Name] = 'Tajikistan' then N'塔吉克斯坦'
		when [Name] = 'Tanzania' then N'坦桑尼亚'
		when [Name] = 'Thailand' then N'泰国'
		when [Name] = 'Timor-Leste' then N'东帝汶'
		when [Name] = 'Togo' then N'多哥'
		when [Name] = 'Tokelau' then N'托克劳'
		when [Name] = 'Tonga' then N'汤加'
		when [Name] = 'Trinidad and Tobago' then N'特立尼达和多巴哥'
		when [Name] = 'Tunisia' then N'突尼斯'
		when [Name] = 'Turkey' then N'土耳其'
		when [Name] = 'Turkmenistan' then N'土库曼斯坦'
		when [Name] = 'Turks and Caicos Islands' then N'特克斯和凯科斯群岛'
		when [Name] = 'Tuvalu' then N'图瓦卢'
		when [Name] = 'Uganda' then N'乌干达'
		when [Name] = 'Ukraine' then N'乌克兰'
		when [Name] = 'United Arab Emirates' then N'阿拉伯联合酋长国'
		when [Name] = 'United Kingdom' then N'英国'
		when [Name] = 'United States' then N'美国'
		when [Name] = 'Uruguay' then N'乌拉圭'
		when [Name] = 'US Virgin Islands' then N'美属维尔京群岛'
		when [Name] = 'Uzbekistan' then N'乌兹别克斯坦'
		when [Name] = 'Vanuatu' then N'瓦努阿图'
		when [Name] = 'Venezuela' then N'委内瑞拉'
		when [Name] = 'Vietnam' then N'越南'
		when [Name] = 'Wallis and Futuna' then N'瓦利斯和富图纳群岛'
		when [Name] = 'West Bank' then N'约旦河西岸'
		when [Name] = 'Yemen' then N'也门'
		when [Name] = 'Zambia' then N'赞比亚'
		when [Name] = 'Zimbabwe' then N'津巴布韦'
		else N''
		end as [Name],

		case 
		when [Name] = 'Afghanistan' then N'a fu han'
		when [Name] = 'Albania' then N'a er ba ni ya'
		when [Name] = 'Algeria' then N'a er ji li ya'
		when [Name] = 'American Samoa' then N'mei shu sa mo ya'
		when [Name] = 'Andorra' then N'an dao er'
		when [Name] = 'Angola' then N'an ge la'
		when [Name] = 'Anguilla' then N'an gui la'
		when [Name] = 'Antarctica' then N'nan ji zhou'
		when [Name] = 'Antigua and Barbuda' then N'an ti gua he bu ba da'
		when [Name] = 'Argentina' then N'a gen ting'
		when [Name] = 'Armenia' then N'ya mei ni ya'
		when [Name] = 'Aruba' then N'a lu ba'
		when [Name] = 'Australia' then N'ao da li ya'
		when [Name] = 'Austria' then N'ao di li'
		when [Name] = 'Azerbaijan' then N'a sai bai jiang'

		when [Name] = 'Bahamas' then N'ba ha ma'
		when [Name] = 'Bahrain' then N'ba lin'
		when [Name] = 'Bangladesh' then N'meng jia la guo'
		when [Name] = 'Barbados' then N'ba ba duo si'
		when [Name] = 'Belarus' then N'bai e luo si'
		when [Name] = 'Belgium' then N'bi li shi'
		when [Name] = 'Belize' then N'bo li zi'
		when [Name] = 'Benin' then N'bei ning'
		when [Name] = 'Bermuda' then N'bai mu da'
		when [Name] = 'Bhutan' then N'bu dan'
		when [Name] = 'Czech' then N'jie ke'

		when [Name] = 'Bolivia' then N'bo li wei ya'
		when [Name] = 'Bosnia and Herzegovina' then N'bo hei'
		when [Name] = 'Botswana' then N'bo ci wa na'
		when [Name] = 'Brazil' then N'ba xi'
		when [Name] = 'British Virgin Islands' then N'ying shu wei er jing qun dao'
		when [Name] = 'Brunei' then N'wen lai'
		when [Name] = 'Bulgaria' then N'bao jia li ya'
		when [Name] = 'Burkina Faso' then N'bu ji na fa suo'
		when [Name] = 'Burma (Myanmar)' then N'mian dian'
		when [Name] = 'Burundi' then N'bu long di'
		when [Name] = 'Cambodia' then N'jian pu zhai'
		when [Name] = 'Cameroon' then N'ka mai long'
		when [Name] = 'Canada' then N'jia na da'
		when [Name] = 'Cape Verde' then N'fo de jiao'
		when [Name] = 'Cayman Islands' then N'kai man qun dao'
		when [Name] = 'Central African Republic' then N'zhong fei gong he guo'
		when [Name] = 'Chad' then N'za de'
		when [Name] = 'Chile' then N'zhi li'
		when [Name] = 'China' then N'zhong guo'
		when [Name] = 'Christmas Island' then N'sheng dang dao'
		when [Name] = 'Cocos (Keeling) Islands' then N'ke ke si qun dao'
		when [Name] = 'Colombia' then N'ge lun bi ya'
		when [Name] = 'Comoros' then N'ke mo luo'
		when [Name] = 'Cook Islands' then N'ku ke qun dao'
		when [Name] = 'Costa Rica' then N'ge si da li jia'
		when [Name] = 'Croatia' then N'ke luo di ya'
		when [Name] = 'Cuba' then N'gu ba'
		when [Name] = 'Czech Republic' then N'jie ke gong je guo'
		when [Name] = 'Cyprus' then N'sai pu lu si'
		when [Name] = 'Democratic Republic of the Congo' then N'gang guo min zhu gong he guo'
		when [Name] = 'Denmark' then N'dan mai'
		when [Name] = 'Djibouti' then N'ji bu ti'
		when [Name] = 'Dominica' then N'duo mi ni jia'
		when [Name] = 'Dominican Republic' then N'duo ming ni jia gong je gong'
		when [Name] = 'Ecuador' then N'e gua duo er'
		when [Name] = 'Egypt' then N'ai ji'
		when [Name] = 'El Salvador' then N'sa er wa duo'
		when [Name] = 'Equatorial Guinea' then N'chi dao ji nei ya'
		when [Name] = 'Eritrea' then N'e li te li ya'
		when [Name] = 'Estonia' then N'ai sha ni ya'
		when [Name] = 'Ethiopia' then N'ai sai e bi ya'
		when [Name] = 'Falkland Islands' then N'fu ke lan qun dao'
		when [Name] = 'Faroe Islands' then N'fa luo qun dao'
		when [Name] = 'Fiji' then N'fei ji'
		when [Name] = 'Finland' then N'fen lan'
		when [Name] = 'France' then N'fa guo'
		when [Name] = 'French Polynesia' then N'fa shu bo li ni xi ya'
		when [Name] = 'Gabon' then N'jia peng'
		when [Name] = 'Gambia' then N'gang bi ya'
		when [Name] = 'Gaza Strip' then N'jia sha di dai'
		when [Name] = 'Georgia' then N'ge lu ji ya'
		when [Name] = 'Germany' then N'de guo'
		when [Name] = 'Ghana' then N'jia na'
		when [Name] = 'Gibraltar' then N'zhi bu luo tuo'
		when [Name] = 'Greece' then N'xi na'
		when [Name] = 'Greenland' then N'ge ling lan dao'
		when [Name] = 'Grenada' then N'ge lin na da'
		when [Name] = 'Guam' then N'guang dao'
		when [Name] = 'Guatemala' then N'wei di ma la'
		when [Name] = 'Guinea' then N'ji nei ya'
		when [Name] = 'Guinea-Bissau' then N'ji nei ya bi shao'
		when [Name] = 'Guyana' then N'gui ya na'
		when [Name] = 'Haiti' then N'hai di'
		when [Name] = 'Holy See (Vatican City)' then N'luo ma jiao ting (fangdi gang)'
		when [Name] = 'Honduras' then N'hong du la si'
		when [Name] = 'Hong Kong' then N'xiang gang'
		when [Name] = 'Hungary' then N'xiong ya li'
		when [Name] = 'India' then N'ying du'
		when [Name] = 'Iceland' then N'bing dao'
		when [Name] = 'Indonesia' then N'ying ni'
		when [Name] = 'Iran' then N'yi lang'
		when [Name] = 'Iraq' then N'yi la ke'
		when [Name] = 'Ireland' then N'ai er lan'
		when [Name] = 'Isle of Man' then N'ma en dao'
		when [Name] = 'Israel' then N'yi se lie'
		when [Name] = 'Italy' then N'yi da li'
		when [Name] = 'Ivory Coast' then N'xiang ya hei an'
		when [Name] = 'Jamaica' then N'ya mai jia'
		when [Name] = 'Japan' then N'ri ben'
		when [Name] = 'Jordan' then N'yue dan'
		when [Name] = 'Kazakhstan' then N'ha sha ke si tan'
		when [Name] = 'Kenya' then N'ken ni ya'
		when [Name] = 'Kiribati' then N'ji li ba si'
		when [Name] = 'Kosovo' then N'ke suo wo'
		when [Name] = 'Kuwait' then N'ke wei te'
		when [Name] = 'Kyrgyzstan' then N'ji er ji si si tan'
		when [Name] = 'Laos' then N'lao wo'
		when [Name] = 'Latvia' then N'la tuo wei ya'
		when [Name] = 'Lebanon' then N'li ba nen'
		when [Name] = 'Lesotho' then N'lai suo tuo'
		when [Name] = 'Liberia' then N'li bi li ya'
		when [Name] = 'Libya' then N'li bi ya'
		when [Name] = 'Liechtenstein' then N'lie zhi dun shi deng'
		when [Name] = 'Lithuania' then N'li tao wan'
		when [Name] = 'Luxembourg' then N'lu sen bao'
		when [Name] = 'Macau' then N'ao men'
		when [Name] = 'Macedonia' then N'ma qi dun'
		when [Name] = 'Madagascar' then N'ma da jia si jia'
		when [Name] = 'Malawi' then N'ma la wei'
		when [Name] = 'Malaysia' then N'ma lai xi ya'
		when [Name] = 'Maldives' then N'ma er dai fu'
		when [Name] = 'Mali' then N'ma li'
		when [Name] = 'Malta' then N'ma er ta'
		when [Name] = 'Marshall Islands' then N'ma shao er qun dao'
		when [Name] = 'Mauritania' then N'mao li ta ni ya'
		when [Name] = 'Mauritius' then N'mao li qiu si'
		when [Name] = 'Mayotte' then N'ma yue te'
		when [Name] = 'Mexico' then N'mo xi ge'
		when [Name] = 'Micronesia' then N'mi ke luo ni xi ya'
		when [Name] = 'Moldova' then N'mo er duo wa'
		when [Name] = 'Monaco' then N'mo na ge'
		when [Name] = 'Mongolia' then N'meng gu'
		when [Name] = 'Montenegro' then N'hei shan gong he guo'
		when [Name] = 'Montserrat' then N'meng te sai la te'
		when [Name] = 'Morocco' then N'mo luo ge'
		when [Name] = 'Mozambique' then N'mo sang bi ke'
		when [Name] = 'Namibia' then N'na mi bi ya'
		when [Name] = 'Nauru' then N'nao lu'
		when [Name] = 'Nepal' then N'ni po er'
		when [Name] = 'Netherlands' then N'he lan'
		when [Name] = 'Netherlands Antilles' then N'he shu an de lie si'
		when [Name] = 'New Caledonia' then N'xin ka li duo ni ya'
		when [Name] = 'New Zealand' then N'xin xi lan'
		when [Name] = 'Nicaragua' then N'ni jia la gua'
		when [Name] = 'Niger' then N'ni ri er'
		when [Name] = 'Nigeria' then N'ni ri li ya'
		when [Name] = 'Niue' then N'niu ai'
		when [Name] = 'Norfolk Island' then N'nuo fu ke dao'
		when [Name] = 'North Korea' then N'bei chao xian'
		when [Name] = 'Northern Mariana Islands' then N'bei ma li ya na qun dao'
		when [Name] = 'Norway' then N'nuo wei'
		when [Name] = 'Oman' then N'a man'
		when [Name] = 'Pakistan' then N'ba ji si tan'
		when [Name] = 'Palau' then N'pa lao'
		when [Name] = 'Panama' then N'ba na ma'
		when [Name] = 'Papua New Guinea' then N'ba bu ya xin ji nei ya'
		when [Name] = 'Paraguay' then N'ba la gui'
		when [Name] = 'Peru' then N'mi lu'
		when [Name] = 'Philippines' then N'fei lv bin'
		when [Name] = 'Pitcairn Islands' then N'pi te kai en qun dao'
		when [Name] = 'Poland' then N'bo lan'
		when [Name] = 'Portugal' then N'pu tao ya'
		when [Name] = 'Puerto Rico' then N'bo duo li ge'
		when [Name] = 'Qatar' then N'ka ta er'
		when [Name] = 'Republic of the Congo' then N'gang guo gong he guo'
		when [Name] = 'Romania' then N'luo ma ni ya'
		when [Name] = 'Russia' then N'e luo si'
		when [Name] = 'Rwanda' then N'lu wan da'
		when [Name] = 'Saint Barthelemy' then N'sheng ba tai le mi dao'
		when [Name] = 'Saint Helena' then N'sheng he le na'
		when [Name] = 'Saint Kitts and Nevis' then N'sheng ji ci he ni wei si'
		when [Name] = 'Saint Lucia' then N'sheng lu xi ya'
		when [Name] = 'Saint Martin' then N'sheng ma ding'
		when [Name] = 'Saint Pierre and Miquelon' then N'sheng pi ai er he mi ke long'
		when [Name] = 'Saint Vincent and the Grenadines' then N'sheng wen sheng te he ge lin na ding si'
		when [Name] = 'Samoa' then N'sa mo ya'
		when [Name] = 'San Marino' then N'sheng ma li nuo'
		when [Name] = 'Sao Tome and Principe' then N'sheng duo mei he pu lin xi bi'
		when [Name] = 'Saudi Arabia' then N'sa te a la bo'
		when [Name] = 'Senegal' then N'sai nei jia er'
		when [Name] = 'Serbia' then N'sai er wei ya'
		when [Name] = 'Seychelles' then N'sai she er'
		when [Name] = 'Sierra Leone' then N'sai la li ang'
		when [Name] = 'Singapore' then N'xin jia po'
		when [Name] = 'Slovakia' then N'si luo fa ke'
		when [Name] = 'Slovenia' then N'si luo wen ni ya'
		when [Name] = 'Solomon Islands' then N'suo luo men qun dao'
		when [Name] = 'Somalia' then N'suo ma li'
		when [Name] = 'South Africa' then N'nan fei'
		when [Name] = 'South Korea' then N'han guo'
		when [Name] = 'Spain' then N'xi ban ya'
		when [Name] = 'Sri Lanka' then N'si li lan ka'
		when [Name] = 'Sudan' then N'su dan'
		when [Name] = 'Suriname' then N'su li nan'
		when [Name] = 'Swaziland' then N'si wei shi lan'
		when [Name] = 'Sweden' then N'rui dian'
		when [Name] = 'Switzerland' then N'rui shi'
		when [Name] = 'Syria' then N'xu li ya'
		when [Name] = 'Taiwan' then N'tai wang'
		when [Name] = 'Tajikistan' then N'ta ji ke si tan'
		when [Name] = 'Tanzania' then N'tan sang ni ya'
		when [Name] = 'Thailand' then N'tai guo'
		when [Name] = 'Timor-Leste' then N'dong di wen'
		when [Name] = 'Togo' then N'duo ge'
		when [Name] = 'Tokelau' then N'tuo ke lao'
		when [Name] = 'Tonga' then N'tang jia'
		when [Name] = 'Trinidad and Tobago' then N'te li ni da he duo ba ge'
		when [Name] = 'Tunisia' then N'tu ni si'
		when [Name] = 'Turkey' then N'tu er qi'
		when [Name] = 'Turkmenistan' then N'tu ku man si tan'
		when [Name] = 'Turks and Caicos Islands' then N'te ke si he kai ke si qun dao'
		when [Name] = 'Tuvalu' then N'tu wa lu'
		when [Name] = 'Uganda' then N'wu gan da'
		when [Name] = 'Ukraine' then N'wu ke lan'
		when [Name] = 'United Arab Emirates' then N'a la bo lian he qiu zhang guo'
		when [Name] = 'United Kingdom' then N'ying guo'
		when [Name] = 'United States' then N'mei guo'
		when [Name] = 'Uruguay' then N'wu la gui'
		when [Name] = 'US Virgin Islands' then N'mei shu wei er jing qun dao'
		when [Name] = 'Uzbekistan' then N'wu zi bie ke si tan'
		when [Name] = 'Vanuatu' then N'wa lu a tu'
		when [Name] = 'Venezuela' then N'wei nei rui la'
		when [Name] = 'Vietnam' then N'yue nan'
		when [Name] = 'Wallis and Futuna' then N'wa li si he fu tu na qun dao'
		when [Name] = 'West Bank' then N'yue dan he xi ang'
		when [Name] = 'Yemen' then N'ye men'
		when [Name] = 'Zambia' then N'zang bi ya'
		when [Name] = 'Zimbabwe' then N'jin ba bu wei'
		else N''
		end as [SortCode]
	from [Region] a
	) a where a.[Name] <> ''

	
) a 


insert into [RegionY]
(RegionId, SystemLanguageId, [Name], [SortCode], CreateDate)
select a.RegionId, @SystemLanguageId, a.[Name], a.[SortCode], GETUTCDATE()
from @Tbl_RegionY a 
	left join  [RegionY] z on a.RegionId = z.RegionId and z.SystemLanguageId = @SystemLanguageId 
where z.Id is null


delete
--select * from
RegionY where SystemLanguageId = @SystemLanguageId and Id not in (
	select a.Id
	from RegionY a inner join Region b on a.RegionId = b.Id and a.SystemLanguageId = @SystemLanguageId
)

update a
set a.[Name] = b.[Name]
from RegionY a inner join @Tbl_RegionY b on a.SystemLanguageId = b.SystemLanguageId and a.RegionId = b.RegionId and a.[Name] <> b.[Name]

update a
set a.[SortCode] = b.[SortCode]
from RegionY a inner join @Tbl_RegionY b on a.SystemLanguageId = b.SystemLanguageId and a.RegionId = b.RegionId and a.[SortCode] <> b.[SortCode]

select * from [RegionY] where SystemLanguageId = @SystemLanguageId
order by SortCode

/*
select * from Region a left join RegionY b on b.SystemLanguageId = 2 and a.Id = b.RegionId
where b.Id is null
*/

go


